# django
*.log
*.pot
media/
staticfiles/
# database
*.sqlite3-journal
*.sqlite3

# Python
*.pyc
__pycache__/
.venv/
activate.bat

# docker 
docker-compose.override.yml

# Environment variables
.env

# Local configuration files
local_config.yml
logs/
local/

# editor
.vscode/

