{% extends "object_form_base.html" %}
{% block panel_title_icon %}
  <i class="bi bi-bookmarks-fill category-text-color"></i>
{% endblock panel_title_icon %}
{% block object_form %}
  <div class="px-3 pt-3">
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.name.label_tag }}</span>
      {{ form.name }}
    </div>
    <span class="text-danger">{{ form.name.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.description.label_tag }}</span>
      {{ form.description }}
    </div>
    <span class="text-danger">{{ form.description.errors }}</span>
  </div>
{% endblock object_form %}
