{% extends "object_update_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Category
{% endblock title %}
{% block panel_title %}
<i class="bi bi-bookmarks-fill" style="color: var(--bs-yellow);"></i>  {{ object.name }}
{% endblock panel_title %}
{% block update_form %}
  <div class="px-3 pt-3">
    <div id="div_id_name" class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">Name</span>
      <input type="text"
             name="name"
             maxlength="50"
             autocomplete="off"
             class="textinput form-control"
             value="{{ object.name }}"
             required
             id="id_name">
    </div>
    <div id="div_id_description" class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">Description</span>
      <textarea name="description"
                cols="40"
                rows="3"
                class="textarea form-control"
                id="id_description">{{ object.description }}</textarea>
    </div>
  </div>
{% endblock update_form %}
