{% extends "object_list_base.html" %}
{% block title %}
  Categories
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-bookmarks-fill category-text-color"></i>  Categories
{% endblock panel_title %}
{% block panel_actions %}
  <a href="{% url 'category_create' %}" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> New category</a>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th width="15%">Categories</th>
          <th width="25%" class="d-none d-lg-table-cell">Description</th>
          <th class="d-none d-lg-table-cell">Items</th>
          <th width="5%" class="d-lg-table-cell"></th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr>
            <td class="align-middle">
              <a href="{% url 'category_detail' category.pk %} "
                 title="category details">{{ category.name }}</a>
            </td>
            <td class="small d-none d-lg-table-cell">{{ category.description|truncatechars:120 }}</td>
            <td class="d-none d-lg-table-cell">
              {% for item in category.items.all|slice:20 %}
                <a href="{% url 'item_detail' item.pk %}" title="item details">{{ item.name }}</a>
                {% if not forloop.last %},{% endif %}
              {% endfor %}
              {% if category.items.count > 20 %}...{% endif %}
            </td>
            <td class="d-lg-table-cell align-middle">
              <a href="{% url 'category_update' category.pk %}"><i class="bi bi-pencil-square"></i></a>
              <a hx-get="{% url 'category_delete' category.pk %}"
                 hx-trigger="click"
                 hx-target="#crudModal .modal-content"
                 hx-swap="innerHTML"
                 data-bs-toggle="modal"
                 data-bs-target="#crudModal"
                 href="javascript:"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock panel_content %}
