{% extends "object_detail_base.html" %}
{% block title %}
  Category - {{ category.name }}
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-bookmarks-fill category-text-color"></i> {{ category.name }}
{% endblock panel_title %}
{{ category.name }}
{% block panel_actions %}
  <span class="p-1">
    <a href="{% url 'category_update' category.pk %}?next={{ request.path }}"
       title="Update category"
       class="btn btn-sm btn-success">
      <i class="bi bi-pencil-square"></i>
      <span class="d-none d-sm-inline">Edit</span>
    </a>
  </span>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="row p-3">
    <div class="col">
      <table class="table table-sm table-borderless">
        <tbody>
          <tr>
            <td width="15%" class="text-muted">Name:</td>
            <td width="85%">{{ category.name }}</td>
          </tr>
          <tr>
            <td class="text-muted">Description:</td>
            <td>{{ category.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel mx-3">
    <div class="panel-heading d-flex justify-content-between">
      <span class="fw-bold"><i class="bi bi-box2-fill item-text-color"></i> All items in this category</span>
    </div>
    <div class="panel-content">
      <div class="panel-content small">
        <!-- Headings for larger screens -->
        <div class="row d-none d-lg-flex g-2 mb-2">
          <div class="col text-muted fw-bold">Name</div>
          <div class="col text-muted fw-bold">Product ID</div>
          <div class="col text-muted fw-bold">Quantity</div>
          <div class="col text-muted fw-bold">Description</div>
        </div>
        {% for obj in page_obj %}
          <div class="row g-2 mb-2 align-items-center">
            <div class="col">
              <a href=" {% if obj.get_class_name == "Item" %} {% url 'item_detail' obj.pk %} {% else %} {% url 'inhouse_detail' obj.pk %} {% endif %} ">{{ obj.name }}</a>
            </div>
            <div class="col">{{ obj.product_id }}</div>
            <div class="col">{{ obj.quantity_display }}</div>
            <div class="col">{{ obj.description }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% include "partials/pagination_simple.html" %}
  </div>
  {% include "partials/object_last_updated.html" %}
{% endblock panel_content %}
