{% extends "object_detail_base.html" %}
{% block title %}
  Category - {{ category.name }}
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-bookmarks-fill category-text-color"></i> {{ category.name }}
{% endblock panel_title %}
{{ category.name }}
{% block panel_actions %}
  <span class="p-1">
    <a href="{% url 'category_update' category.pk %}?next={{ request.path }}"
       title="Update category"
       class="btn btn-sm btn-success">
      <i class="bi bi-pencil-square"></i>
      <span class="d-none d-sm-inline">Edit</span>
    </a>
  </span>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="row g-2 mb-3 p-3">
    <div class="col-4 col-lg-2 text-muted">Name:</div>
    <div class="col-8 col-lg-4">{{ category.name }}</div>
    <div class="col-4 col-lg-2 text-muted">Description:</div>
    <div class="col-8 col-lg-4">{{ category.description }}</div>
  </div>
  <div class="panel m-3">
    <div class="panel-heading d-flex justify-content-between">
      <span class="fw-bold"><i class="bi bi-box2-fill item-text-color"></i> All items in this category</span>
    </div>
    <div class="panel-content">
      <!-- Headings for larger screens -->
      <div class="row d-none d-lg-flex g-2 mb-2">
        <div class="col-4 text-muted fw-bold">Name</div>
        <div class="col-2 text-muted fw-bold">Product ID</div>
        <div class="col-2 text-muted fw-bold">Quantity</div>
        <div class="col-4 text-muted fw-bold">Description</div>
      </div>
      {% for obj in page_obj %}
        <div class="row g-2 mb-2 align-items-center">
          <div class="col-6 col-lg-4">
            <a href=" {% if obj.get_verbose_name == "Item" %} {% url 'item_detail' obj.pk %} {% else %} {% url 'inhouse_detail' obj.pk %} {% endif %} ">{{ obj.name }}</a>
          </div>
          <div class="col-3 col-lg-2">{{ obj.product_id }}</div>
          <div class="col-3 col-lg-2">{{ obj.quantity_display }}</div>
          <div class="col-lg-4 d-none d-lg-block">{{ obj.description }}</div>
        </div>
      {% endfor %}
    </div>
    {% include "partials/pagination_simple.html" %}
  </div>
  {% include "partials/object_last_updated.html" %}
{% endblock panel_content %}
