{% extends "object_list_base.html" %}
{% block title %}
  Categories
{% endblock title %}
{% block panel_title %}
  Categories
{% endblock panel_title %}
{% block panel_actions %}
  <a href="{% url 'category_create' %}" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> New category</a>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th width="15%">Categories</th>
          <th width="25%" class="d-none d-lg-table-cell">Description</th>
          <th class="d-none d-lg-table-cell">Items</th>
          <th width="5%" class="d-lg-table-cell">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr style="height: 120px;">
            <td class="align-middle">
              <a href="{% url 'category_detail' category.pk %} "
                 title="category details">{{ category.name }}</a>
            </td>
            <td class="small d-none d-lg-table-cell">{{ category.description|truncatechars:120 }}</td>
            <td class="d-none d-lg-table-cell">
              <div class="row ps-2 small">
                {% for item in category.items.all|slice:10 %}
                  <div class="col-4">
                    <i class="bi bi-box2"></i>
                    <a href="{% url 'item_detail' item.pk %}"
                       class="pe-2"
                       title="item details">{{ item.name }}</a>
                  </div>
                {% endfor %}
                <div class="col-12 small">
                  {% if category.items.count > 10 %}
                    <a href="{% url 'category_detail' category.pk %}">More ...</a>
                  {% endif %}
                </div>
              </div>
            </td>
            <td class="d-lg-table-cell align-middle">
              <a href="{% url 'category_update' category.pk %}"><i class="bi bi-pencil-square"></i></a>
              <a hx-get="{% url 'category_delete' category.pk %}"
                 hx-trigger="click"
                 hx-target="#crudModal .modal-content"
                 hx-swap="innerHTML"
                 data-bs-toggle="modal"
                 data-bs-target="#crudModal"
                 href="javascript:void(0);"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock panel_content %}
