<div class="input-group mb-3">
  <span class="input-group-text input-group-text-fw-sm">Stock:</span>
  <input type="text"
         name="stock_query"
         id="stock_search_box"
         class="form-control"
         autocomplete="off"
         value="{{ stock_name|default_if_none:'' }}"
         placeholder="Start typing to enter an stock..."
         hx-trigger="keyup changed delay:500ms"
         hx-get="{% url 'stock_search' %}"
         hx-target="#stockSearchResults">
  <span class="input-group-text">
    <a href="{% url 'stock_create' %}?next={{ request.path }}"
       class="btn btn-sm btn-light"
       data-bs-toggle="tooltip"
       target="_blank"
       title="Add a new stock">
      <i class="bi bi-plus-circle text-success"></i>
    </a>
  </span>
</div>
<span class="text-danger">{{ form.stock.errors }}</span>
<div id="stockSearchResults" class="list-group type-search-result"></div>
<input type="text"
       name="stock"
       id="id_stock"
       value="{{ form.stock.value|default_if_none:'' }}"
       hidden>
