{% extends "object_detail_base.html" %}
{% load stock_tags %}
{% block title %}
  Location - {{ location.name }}
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-geo-alt-fill location-text-color"></i> {{ location.name }}
{% endblock panel_title %}
{% block panel_actions %}
  <span class="p-1">
    <a href="{% url 'location_update' location.pk %}?next={{ request.path }}"
       title="Update location"
       class="btn btn-sm btn-success">
      <i class="bi bi-pencil-square"></i>
      <span class="d-none d-sm-inline">Edit</span>
    </a>
  </span>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="row p-3">
    <div class="col">
      <table class="table table-sm table-borderless">
        <tbody>
          <tr>
            <td width="15%" class="text-muted">Name:</td>
            <td width="85%">{{ location.name }}</td>
          </tr>
          <tr>
            <td class="text-muted">Room:</td>
            <td>{{ location.room }}</td>
          </tr>
          <tr>
            <td class="text-muted">Description:</td>
            <td>{{ location.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel mx-3">
    <div class="panel-heading">
      <span class="h5"><i class="bi bi-box-seam-fill stock-text-color"></i> All stocks in this location</span>
    </div>
    <div class="panel-content">
      <table class="table table-sm">
        <thead>
          <tr>
            <th class="text-muted">Sotck Item</th>
            <th class="text-muted">Lot Number</th>
            <th class="text-muted">Expiry Date</th>
            <th class="text-muted text-center">Box ID</th>
            <th class="text-muted text-center">Remaining</th>
          </tr>
        </thead>
        {% for entry in page_obj %}
          <tr>
            <td>{{ entry.stock.item.name }}</td>
            <td>{{ entry.stock.lot_number }}</td>
            <td>{{ entry.stock.expiry_date|date:'d/m/Y' }}</td>
            <td class="text-center">
              <span class="{% stock_entry_colour entry.ordinal_number %}-text-color"><b>{{ entry.ordinal_number }}</b></span>
            </td>
            <td class="text-center">{{ entry.remaining_quantity_display }}</td>
          </tr>
        {% endfor %}
      </table>
      {% include "partials/pagination_simple.html" %}
    </div>
  </div>
  {% include "partials/object_last_updated.html" %}
{% endblock panel_content %}
