{% extends "object_list_base.html" %}
{% load ui_tags %}
{% block title %}
  Locations
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-geo-alt-fill location-text-color"></i> Storage Locations
{% endblock panel_title %}
{% block panel_actions %}
  <a href="{% url 'location_create' %}" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> New location</a>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th width="15%" class="d-none d-lg-table-cell">Room</th>
          <th width="20%" class="d-none d-lg-table-cell">Description</th>
          <th class="d-none d-lg-table-cell">Stock Items</th>
          <th class="d-none d-lg-table-cell">{% toggle_icon 'tooltray-trigger' 'tooltray-container' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for location in locations %}
          <tr class="align-middle">
            <td>
              <a href="{% url 'location_detail' location.pk %}">{{ location.name }}</a>
            </td>
            <td class="d-none d-lg-table-cell align-middle">{{ location.room_name|default_if_none:"" }}</td>
            <td class="d-none d-lg-table-cell small">{{ location.description|truncatechars:150 }}</td>
            <td class="d-none d-lg-table-cell small">
              {% if location.stock_items|length %}
                {% for stock in location.stock_items|slice:10 %}
                  <a href="{% url 'stock_detail' stock.pk %}">{{ stock }}</a>
                  {% if not forloop.last %},{% endif %}
                {% endfor %}
              {% endif %}
            </td>
            <td class="d-none d-lg-table-cell">
              <span class="tooltray-container d-none">
                <a href="{% url 'location_update' location.pk %}"><i class="bi bi-pencil-square"></i></a>
                <a hx-get="{% url 'location_delete' location.pk %}"
                   hx-trigger="click"
                   hx-target="#crudModal .modal-content"
                   hx-swap="innerHTML"
                   data-bs-toggle="modal"
                   data-bs-target="#crudModal"
                   href="javascript:"><i class="bi bi-trash"></i></a>
              </span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock panel_content %}
