{% extends "object_detail_base.html" %}
{% load stock_tags %}
{% block title %}
  Location - {{ location.name }}
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-geo-alt-fill location-text-color"></i> {{ location.name }}
{% endblock panel_title %}
{% block panel_actions %}
  <span class="p-1">
    <a href="{% url 'location_update' location.pk %}?next={{ request.path }}"
       title="Update location"
       class="btn btn-sm btn-success">
      <i class="bi bi-pencil-square"></i>
      <span class="d-none d-sm-inline">Edit</span>
    </a>
  </span>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="row g-2 mb-3 p-3">
    <div class="col-6 col-lg-2 text-muted">Name:</div>
    <div class="col-6 col-lg-4">{{ location.name }}</div>
    <div class="col-6 col-lg-2 text-muted">Room:</div>
    <div class="col-6 col-lg-4">{{ location.room.name }}</div>
    <div class="col-12 col-lg-2 text-muted">Description:</div>
    <div class="col-12 col-lg-10">{{ location.description }}</div>
  </div>
  <div class="panel m-3">
    <div class="panel-heading">
      <span class="h5"><i class="bi bi-box-seam-fill stock-text-color"></i> All stocks in this location</span>
    </div>
    <div class="panel-content">
      <div class="container-fluid pb-3">
        <!-- Headers -->
        <div class="row g-2 mb-2 d-none d-lg-flex text-muted fw-bold align-items-center">
          <div class="col-lg-4">Stock Item</div>
          <div class="col-lg-2">Lot Number</div>
          <div class="col-lg-2">Expiry Date</div>
          <div class="col-lg-1 text-center">Box ID</div>
          <div class="col-lg-3 text-center">Remaining</div>
        </div>
        <!-- Rows for Each Stock Entry -->
        {% for entry in page_obj %}
          <div class="row mb-2 g-2 border-top {% if forloop.counter0|divisibleby:2 %}bg-light{% else %}bg-white{% endif %}">
            <!-- Stock Item -->
            <div class="col-12 col-lg-4">{{ entry.stock.source.name }}</div>
            <!-- Lot Number -->
            <div class="col-6 col-lg-2">{{ entry.stock.lot_number }}</div>
            <!-- Expiry Date -->
            <div class="d-none d-lg-block col-lg-2">
              <span class="{{ entry.stock.expiry_date|expiry_color }}">{{ entry.stock.expiry_date|date:'d/m/Y' }}</span>
            </div>
            <!-- Box ID -->
            <div class="col-6 col-lg-1 text-center">
              <span class="{% stock_entry_colour entry.ordinal_number %}-text-color"><b>{{ entry.ordinal_number }}</b></span>
            </div>
            <!-- Remaining Quantity -->
            <div class="d-none d-lg-block col-lg-3 text-center">{{ entry.remaining_quantity_display }}</div>
          </div>
        {% endfor %}
      </div>
      {% include "partials/pagination_simple.html" %}
    </div>
  </div>
  {% include "partials/object_last_updated.html" %}
{% endblock panel_content %}
