:root {
  --rt-light-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link .bi,
.dropdown-menu .dropdown-item .bi {
  margin-right: 0.1rem;
}

.navbar {
  box-shadow: var(--rt-light-shadow);
}

.panel {
  margin-bottom: 0.75rem;
  background-color: #fff;
  border: 1px solid #eee;
}

.panel-heading {
  padding: 3px;
  padding-top: 5px;
  padding-left: 15px;
  color: var(--bs-body-color);
  background-color: var(--bs-light);
  box-shadow: var(--rt-light-shadow);
}

.panel-content {
  padding: 10px;
}

.panel-group {
  margin-bottom: 5px;
  border-radius: 2px;
}

.panel-hidden {
  display: none;
}

.panel-heading .badge {
  float: right;
}

.badge-right {
  float: right;
}
