:root {
  --rt-color-primary: #22586b;
  --rt-color-secondary: #552122;
  --rt-color-success: #28a745;
  --rt-color-info: #058ba0;
  --rt-color-warning: #ffc107;
  --rt-color-danger: #dc3545;
  --rt-color-light: #f8f8f8;
  --rt-color-dark: #282d31;
  --rt-color-gray: #1d1f20;

  /* Hover Colors */
  --rt-color-primary-hover: #1d4f61; /* Darkened primary color */
  --rt-color-secondary-hover: #4c1e1f; /* Darkened secondary color */
  --rt-color-success-hover: #247d3e; /* Darkened success color */
  --rt-color-info-hover: #04788f; /* Darkened info color */
  --rt-color-warning-hover: #e6a006; /* Darkened warning color */
  --rt-color-danger-hover: #c2323f; /* Darkened danger color */
  --rt-color-light-hover: #e0e0e0; /* Slightly darker light color */
  --rt-color-dark-hover: #24292e; /* Darkened dark color */
  --rt-color-gray-hover: #1a1c1d; /* Darkened gray color */

  --rt-light-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: var(--rt-color-info);
}
a:hover {
  color: purple;
}

/* Text Colors */
.text-primary {
  color: var(--rt-color-primary) !important;
}
.text-secondary {
  color: var(--rt-color-secondary) !important;
}
.text-success {
  color: var(--rt-color-success) !important;
}
.text-info {
  color: var(--rt-color-info) !important;
}
.text-warning {
  color: var(--rt-color-warning) !important;
}
.text-danger {
  color: var(--rt-color-danger) !important;
}
.text-light {
  color: var(--rt-color-light) !important;
}
.text-dark {
  color: var(--rt-color-dark) !important;
}
.text-gray {
  color: var(--rt-color-gray) !important;
}
/* Background Colors */
.bg-primary {
  background-color: var(--rt-color-primary) !important;
}
.bg-secondary {
  background-color: var(--rt-color-secondary) !important;
}
.bg-success {
  background-color: var(--rt-color-success) !important;
}
.bg-info {
  background-color: var(--rt-color-info) !important;
}
.bg-warning {
  background-color: var(--rt-color-warning) !important;
}
.bg-danger {
  background-color: var(--rt-color-danger) !important;
}
.bg-light {
  background-color: var(--rt-color-light) !important;
}
.bg-dark {
  background-color: var(--rt-color-dark) !important;
}
.bg-gray {
  background-color: var(--rt-color-gray) !important;
}

/* Button Colors */
.btn-primary {
  background-color: var(--rt-color-primary);
  border-color: var(--rt-color-primary);
}
.btn-secondary {
  background-color: var(--rt-color-secondary);
  border-color: var(--rt-color-secondary);
}
.btn-success {
  background-color: var(--rt-color-success);
  border-color: var(--rt-color-success);
}
.btn-info {
  background-color: var(--rt-color-info);
  border-color: var(--rt-color-info);
}
.btn-warning {
  background-color: var(--rt-color-warning);
  border-color: var(--rt-color-warning);
}
.btn-danger {
  background-color: var(--rt-color-danger);
  border-color: var(--rt-color-danger);
}
.btn-light {
  background-color: var(--rt-color-light);
  border-color: var(--rt-color-light);
  color: #000; /* Ensuring text is visible on light background */
}
.btn-dark {
  background-color: var(--rt-color-dark);
  border-color: var(--rt-color-dark);
}
.btn-gray {
  background-color: var(--rt-color-gray);
  border-color: var(--rt-color-gray);
}
/* Hover and Focus States for Buttons */

/* Primary Button */
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--rt-color-primary-hover); /* Darkened primary color */
  border-color: var(--rt-color-primary-hover);
}

/* Secondary Button */
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(
    --rt-color-secondary-hover
  ); /* Darkened secondary color */
  border-color: var(--rt-color-secondary-hover);
}

/* Success Button */
.btn-success:hover,
.btn-success:focus {
  background-color: var(--rt-color-success-hover); /* Darkened success color */
  border-color: var(--rt-color-success-hover);
}

/* Info Button */
.btn-info:hover,
.btn-info:focus {
  background-color: var(--rt-color-info-hover); /* Darkened info color */
  border-color: var(--rt-color-info-hover);
}

/* Warning Button */
.btn-warning:hover,
.btn-warning:focus {
  background-color: var(--rt-color-warning-hover); /* Darkened warning color */
  border-color: var(--rt-color-warning-hover);
}

/* Danger Button */
.btn-danger:hover,
.btn-danger:focus {
  background-color: var(--rt-color-danger-hover); /* Darkened danger color */
  border-color: var(--rt-color-danger-hover);
}

/* Light Button */
.btn-light:hover,
.btn-light:focus {
  background-color: var(
    --rt-color-light-hover
  ); /* Slightly darker light color */
  border-color: var(--rt-color-light-hover);
  color: var(--rt-color-dark); /* Ensuring text is visible */
}

/* Dark Button */
.btn-dark:hover,
.btn-dark:focus {
  background-color: var(--rt-color-dark-hover); /* Darkened dark color */
  border-color: var(--rt-color-dark-hover);
}
/* Gray Button */
.btn-gray:hover,
.btn-gray:focus {
  background-color: var(--rt-color-gray-hover); /* Darkened gray color */
  border-color: var(--rt-color-gray-hover);
}

/* Borders */

.border-primary {
  border-color: var(--rt-color-primary) !important;
}

.border-secondary {
  border-color: var(--rt-color-secondary) !important;
}

.border-success {
  border-color: var(--rt-color-success) !important;
}

.border-info {
  border-color: var(--rt-color-info) !important;
}

.border-warning {
  border-color: var(--rt-color-warning) !important;
}

.border-danger {
  border-color: var(--rt-color-danger) !important;
}

.border-light {
  border-color: var(--rt-color-light) !important;
}

.border-dark {
  border-color: var(--rt-color-dark) !important;
}

.border-gray {
  border-color: var(--rt-color-gray) !important;
}

.navbar-nav .nav-link .bi,
.dropdown-menu .dropdown-item .bi {
  margin-right: 0.1rem;
}

.navbar {
  box-shadow: var(--rt-light-shadow);
}

.panel {
  margin-bottom: 0.75rem;
  background-color: #fff;
  border: 1px solid #eee;
}

.panel-heading {
  padding: 3px;
  padding-top: 5px;
  padding-left: 15px;
  color: var(--bs-body-color);
  background-color: var(--bs-light);
  box-shadow: var(--rt-light-shadow);
}

.panel-content {
  padding: 10px;
}

.panel-group {
  margin-bottom: 5px;
  border-radius: 2px;
}

.panel-hidden {
  display: none;
}

.panel-heading .badge {
  float: right;
}

.badge-right {
  float: right;
}

.input-group-text-fw-sm {
  width: 8rem;
}

.input-group-text-fw-md {
  width: 10rem;
}

.input-group-text-fw-lg {
  width: 12rem;
}

.type-search-input {
  position: relative; /* Ensures the search results are positioned in relation to the search box */
}

.type-search-result {
  left: 5%;
  top: 100%; /* Positions the top of the div right below the search box */
  width: 90%; /* Matches the width of the search box */
  position: absolute;
  z-index: 1000; /* Ensures the results overlay other content */
  border-radius: 0.25rem; /* Optional rounded corners */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); /* Optional shadow for a floating effect */
}

/* Auto-dismiss alert transition */
.alert.auto-dismiss {
  transition: opacity 1s ease-out, max-height 1s ease-out, padding 1s ease-out,
    margin 1s ease-out;
  opacity: 1;
  max-height: 60px; /* Adjust based on your alert's typical height */
  overflow: hidden;
  padding: 10px; /* Adjust to your alert's default padding */
  margin: 10px 0; /* Adjust to your alert's default margin */
}

.alert.auto-dismiss.hide {
  opacity: 0; /* Fully transparent */
  max-height: 0; /* Collapse the alert */
  padding: 0; /* Remove padding during collapse */
  margin: 0; /* Remove margin during collapse */
}

.alert.auto-dismiss .btn-close {
  display: none; /* Hide the close button */
}
