:root {
  --rt-light-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link .bi,
.dropdown-menu .dropdown-item .bi {
  margin-right: 0.1rem;
}

.navbar {
  box-shadow: var(--rt-light-shadow);
}

.panel {
  margin-bottom: 0.75rem;
  background-color: #fff;
  border: 1px solid #eee;
}

.panel-heading {
  padding: 3px;
  padding-top: 5px;
  padding-left: 15px;
  color: var(--bs-body-color);
  background-color: var(--bs-light);
  box-shadow: var(--rt-light-shadow);
}

.panel-content {
  padding: 10px;
}

.panel-group {
  margin-bottom: 5px;
  border-radius: 2px;
}

.panel-hidden {
  display: none;
}

.panel-heading .badge {
  float: right;
}

.badge-right {
  float: right;
}

.input-group-text-fw-sm {
  width: 8rem;
}

.input-group-text-fw-md {
  width: 10rem;
}

.input-group-text-fw-lg {
  width: 12rem;
}

.type-search-input {
  position: relative; /* Ensures the search results are positioned in relation to the search box */
}

.type-search-result {
  left: 5%;
  top: 100%; /* Positions the top of the div right below the search box */
  width: 90%; /* Matches the width of the search box */
  position: absolute;
  z-index: 1000; /* Ensures the results overlay other content */
  border-radius: 0.25rem; /* Optional rounded corners */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); /* Optional shadow for a floating effect */
}
