<form hx-target="this">
  {% csrf_token %}
  <div class="d-flex justify-content-center align-items-center">
    <input type="float"
           name="used_quantity"
           placeholder="used..."
           class="w-50 text-end"
           style="{% if form.errors %}border-color: red;
                  {% endif %}"
           hx-swap="outerHTML"
           hx-post="{% url 'usage_htmx_update' entry.pk %}"
           hx-trigger="change changed delay:500ms">
    <span class="ps-2">{{ entry.remaining_unit }}</span>
  </div>
  {{ form.used_unit }}
  <input type="text" name="next" value="{{ request.path }}" hidden>
</form>
