{% extends "base.html" %}
{% load static %}
{% load stock_tags %}
{% block content %}
  <div class="d-flex justify-content-center align-items-center">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span class="mt-2 h5"><a href="{% url 'stock_detail' entry.stock.pk %}">{{ entry.stock.source.name }}</a></span>
        <span class="icon-with-text">
          <i class="bi bi-box2-fill icon-with-text-icon {% if entry.remaining_quantity == 0 %}text-gray-300{% else %}{% stock_entry_colour entry.ordinal_number %}-text-color{% endif %}"></i>
          <span class="icon-with-text-low">{{ entry.ordinal_number }}</span>
        </span>
      </div>
      <form method="post" action="">
        {% csrf_token %}
        <div class="card-body d-flex flex-column justify-content-center align-items-center min-vh-25">
          <div class="my-3">Remaining quantity:</div>
          <div class="mb-5">
            <span class="h3">{{ entry.remaining_quantity_display }}</span>
          </div>
          <div class="mb-2">Used quantity:</div>
          <div class="mb-5 d-flex justify-content-center">
            <input type="float"
                   name="used_quantity"
                   min="0"
                   class="text-center text-danger"
                   style="font-size: 3rem;
                          font-weight: 1000;
                          height: 5rem;
                          width: 50%;
                          border: 0;
                          border-bottom: 3px solid #ccc" />
            <span class="h2 align-self-end ps-3">{{ entry.remaining_unit }}</span>
            {# hidden fields and button #}
            {{ form.used_unit }}
            <input type="hidden" name="next" value="{{ request.path }}" />
            <button class="d-none">submit</button>
            {# end hidden fields and button #}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
