<div class="panel panel-frontpage">
  <div class="panel-heading">
    <div class="d-flex justify-content-between pe-2">
      <span><i class="bi bi-boxes stock-text-color"></i> <b>Latest Deliveries</b></span>
      <span class="float-end">
        <a href="{% url 'stock_list' %}"
           title="List of all stocks"
           data-bs-toggle="tooltip">
          <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </span>
    </div>
  </div>
  <div class="panel-content">
    <div class="px-2 small">
      <table class="table table-sm table-hover">
        <tbody>
          {% for stock in stocks|slice:5 %}
            <tr>
              <td>{{ stock.delivery_date|date:'d/m/Y' }}</td>
              <td>
                <a href="{{ stock.get_absolute_url }}">{{ stock.source.name }}</a>
              </td>
              <td class="d-none d-lg-block">x {{ stock.entries.count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
