<div class="panel panel-frontpage">
  <div class="panel-heading">
    <div class="d-flex align-items-center pe-2">
      <i class="bi bi-bell-fill pe-2 text-warning"></i> <b>Notifications</b>
    </div>
  </div>
  <div class="panel-content">
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
      <li>Repellat et similique aliquid unde perspiciatis eligendi autem.</li>
      <li>Voluptatem quo laboriosam sed esse, eos consequuntur adipisci soluta hic iure fugit, harum nulla.</li>
      <li>Similique aliquid unde perspiciatis eligendi autem voluptatem quo laboriosam sed esse.</li>
    </ul>
  </div>
</div>
