{% extends "object_detail_base.html" %}
{% block title %}
  Company - {{ company.name }}
{% endblock title %}
{% block panel_title %}
<i class="bi bi-buildings company-text-color"></i> {{ company.name }}
{% endblock panel_title %}
{% block panel_actions %}
  <span class="p-1">
    <a href="{% url 'company_update' company.pk %}?next={{ request.path }}"
       title="Update company"
       class="btn btn-sm btn-success">
      <i class="bi bi-pencil-square"></i> Edit</a>
  </span>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="row p-3">
    <div class="col">
      <table class="table table-sm table-borderless">
        <tbody>
          <tr>
            <td width="15%" class="text-muted">Name:</td>
            <td width="85%">{{ company.name }}</td>
          </tr>
          <tr>
            <td class="text-muted">Description:</td>
            <td>{{ company.description }}</td>
          </tr>
          <tr>
            <td class="text-muted">Website:</td>
            <td>
              <i class="bi bi-link-45deg"></i><a href="{{ company.website }}" target="blank" title="company website">{{ company.website }}</a>
            </td>
          </tr>
          <tr>
            <td class="text-muted">Phone:</td>
            <td>
              <i class="bi bi-phone"></i> {{ company.phone }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {# manufactured_items #}
  {% if company.manufactured_items.count > 0 %}
    <div class="panel mx-3 my-4">
      <div class="panel-heading">
        <span class="h5"> Items Manufactured</span>
      </div>
      <div class="panel-content py-4">
        {% for item in company.manufactured_items.all %}
          <span class="ps-2 pe-4">
            <i class="bi bi-box2-fill item-text-color"></i> <a href="{% url 'item_detail' item.pk %}" title="View item">{{ item.name }}</a>
          </span>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {# supplied_items #}
  {% if company.supplied_items.count > 0 %}
    <div class="panel mx-3 my-4">
      <div class="panel-heading">
        <span class="h5"> Items Supplied</span>
      </div>
      <div class="panel-content py-4">
        {% for item in company.supplied_items.all %}
          <span class="ps-2 pe-4">
            <i class="bi bi-box2-fill text-success"></i> <a href="{% url 'item_detail' item.pk %}" title="View item">{{ item.name }}</a>
          </span>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% with obj=company %}
    {% include "partials/object_last_updated.html" %}
  {% endwith %}
{% endblock panel_content %}
