{% extends "object_list_base.html" %}
{% load ui_tags %}
{% block title %}
  Companies
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-buildings company-text-color"></i>  Companies
{% endblock panel_title %}
{% block panel_actions %}
  <a href="{% url 'company_create' %}" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> New company</a>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="container-fluid pt-3">
    <!-- Headers -->
    <div class="row g-2 mb-2 d-none d-lg-flex text-muted fw-bold align-items-center">
      <div class="col-2">Company</div>
      <div class="col-2">Description</div>
      <div class="col-1 text-center">Manufactured</div>
      <div class="col-1 text-center">Supplied</div>
      <div class="col-2">Phone</div>
      <div class="col-3">Website</div>
      <div class="col-1">{% toggle_icon 'tooltray-trigger' 'tooltray-container' %}</div>
    </div>
    <!-- Rows for Each Company -->
    {% for company in companies %}
      <div class="row g-2 mb-2 border-top align-items-center">
        <!-- Company Name -->
        <div class="col-6 col-lg-2 align-middle">
          <a href="{{ company.get_absolute_url }}">{{ company.name }}</a>
        </div>
        <!-- Description -->
        <div class="col-lg-2 d-none d-lg-block small">{{ company.description|truncatechars:32 }}</div>
        <!-- Manufactured Count -->
        <div class="col-lg-1 text-center d-none d-lg-block">
          <a href="{{ company.get_absolute_url }}#manufactured">{{ company.manufactured_items.count|default:"" }}</a>
        </div>
        <!-- Supplied Count -->
        <div class="col-lg-1 text-center d-none d-lg-block">
          <a href="{{ company.get_absolute_url }}#supplied">{{ company.supplied_items.count|default:"" }}</a>
        </div>
        <!-- Phone -->
        <div class="col-lg-2 d-none d-lg-block">{{ company.phone }}</div>
        <!-- Website -->
        <div class="col-lg-3 d-none d-lg-block">
          <a href="{{ company.website }}"
             title="Visit {{ company.website }}"
             target="_blank">{{ company.website|truncatechars:32 }}</a>
        </div>
        <!-- Actions -->
        <div class="col-lg-1 d-none d-lg-block">
          <span class="tooltray-container d-none">
            <a href="{% url 'company_update' company.pk %}"><i class="bi bi-pencil-square"></i></a>
            <a hx-get="{% url 'company_delete' company.pk %}"
               hx-trigger="click"
               hx-target="#crudModal .modal-content"
               hx-swap="innerHTML"
               data-bs-toggle="modal"
               data-bs-target="#crudModal"
               href="javascript:"><i class="bi bi-trash"></i></a>
          </span>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock panel_content %}
