{% extends "object_list_base.html" %}
{% block title %}
  Companies
{% endblock title %}
{% block panel_title %}
<i class="bi bi-buildings" style="color: var(--bs-gray);"></i>  Companies
{% endblock panel_title %}
{% block panel_actions %}
  <a href="{% url 'company_create' %}" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> New company</a>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="table-responsive pt-3">
    <table class="table">
      <thead>
        <tr>
          <th width="20%">Company</th>
          <th width="25%" class="d-none d-lg-table-cell">Description</th>
          <th class="text-center d-none d-lg-table-cell">Made/Supplied</th>
          <th class="text-center d-lg-table-cell">Phone</th>
          <th>Website</th>
          <th width="5%" class=" d-lg-table-cell">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for company in companies %}
          <tr>
            <td class="align-middle">
              <a href="{% url 'company_detail' company.pk %}">{{ company.name }}</a>
            </td>
            <td class="d-none d-lg-table-cell small">{{ company.description|truncatechars:50 }}</td>
            <td class="text-center d-none d-lg-table-cell">
              <div class="row">
                <div class="col-6 text-end">
                  <span class="badge rounded-pill" style="background-color: var(--bs-yellow)">{{ company.manufactured_items.count|default:"" }}</span>
                </div>
                <div class="col-6 text-start">
                  <span class="badge rounded-pill" style="background-color: var(--bs-blue);">{{ company.supplied_items.count|default:"" }}</span>
                </div>
              </div>
            </td>
            <td class="text-center d-lg-table-cell">{{ company.phone }}</td>
            <td>
              <a href="{{ company.website }}" title="Visit {{ company.website }}">{{ company.website }}</a>
            </td>
            <td class="d-lg-table-cell">
              <a href="{% url 'company_update' company.pk %}"><i class="bi bi-pencil-square"></i></a>
              <a hx-get="{% url 'company_delete' company.pk %}"
                 hx-trigger="click"
                 hx-target="#crudModal .modal-content"
                 hx-swap="innerHTML"
                 data-bs-toggle="modal"
                 data-bs-target="#crudModal"
                 href="javascript:void(0);"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock panel_content %}
