<div class="px-3 pt-3">
  <div class="mb-3 input-group">
    <span class="input-group-text input-group-text-fw-sm">{{ form.name.label_tag }}</span>
    {{ form.name }}
  </div>
  <span class="text-danger">{{ form.name.errors }}</span>
  <div class="mb-3 input-group">
    <span class="input-group-text input-group-text-fw-sm">{{ form.website.label_tag }}</span>
    {{ form.website }}
  </div>
  <span class="text-danger">{{ form.website.errors }}</span>
  <div class="mb-3 input-group">
    <span class="input-group-text input-group-text-fw-sm">{{ form.phone.label_tag }}</span>
    {{ form.phone }}
  </div>
  <span class="text-danger">{{ form.phone.errors }}</span>
  <div class="mb-3 input-group">
    <span class="input-group-text input-group-text-fw-sm">{{ form.description.label_tag }}</span>
    {{ form.description }}
  </div>
  <span class="text-danger">{{ form.description.errors }}</span>
</div>
