{% extends "user/auth_base.html" %}
{% block title %}
  User Login
{% endblock title %}
{% block auth_size %}
  col-xl-3 col-lg-6 col-md-10 col-12
{% endblock auth_size %}
{% block auth_form %}
  <div id="div_id_username" class="input-group mb-3">
    <span class="input-group-text">{{ form.username.label_tag }}</span>
    {{ form.username }}
  </div>
  <div id="div_id_password" class="input-group mb-3">
    <span class="input-group-text">{{ form.password.label_tag }}</span>
    {{ form.password }}
  </div>
{% endblock auth_form %}
{% block auth_button %}
  Login
{% endblock auth_button %}
{% block auth_footer %}
  <div class="text-center mt-3">
    <p>
      Don't have an account? <a href="{% url 'register' %}">Register</a>
    </p>
  </div>
{% endblock auth_footer %}
