{% extends "user/profile.html" %}
{% block profile_form %}
  <div class="mb-3 input-group">
    <span class="input-group-text">First Name:</span>
    <input type="text"
           class="form-control"
           id="firstName"
           value="{{ user.first_name }}"
           readonly>
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text">Last Name:</span>
    <input type="text"
           class="form-control"
           id="lastName"
           value="{{ user.last_name }}"
           readonly>
  </div>
  <a href="{% url 'user_edit' %}" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Edit</a>
{% endblock profile_form %}
