{% extends "user/profile_base.html" %}
{% block title %}
  User Profile
{% endblock title %}
{% block panel_title %}
  User Profile
{% endblock panel_title %}
{% block panel_actions %}
  <a href="{% url 'user_update' %}?next={{ request.path }}"
     title="Update User Profile"
     class="btn btn-sm btn-success">
    <i class="bi bi-pencil-square"></i>
    <span class="d-none d-sm-inline">Edit</span>
  </a>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="pt-3 px-3">
    <div class="mb-3 input-group">
      <span class="input-group-text input-group-text-fw-md">Username:</span>
      <input type="text"
             class="form-control bg-light"
             value="{{ user.username }}"
             disabled>
    </div>
    <div class="mb-3 input-group">
      <span class="input-group-text input-group-text-fw-md">First name:</span>
      <input type="text"
             class="form-control bg-light"
             value="{{ user.first_name }}"
             disabled>
    </div>
    <div class="mb-3 input-group">
      <span class="input-group-text input-group-text-fw-md">Last name:</span>
      <input type="text"
             class="form-control bg-light"
             value="{{ user.last_name }}"
             disabled>
    </div>
    <div class="mb-3 input-group">
      <span class="input-group-text input-group-text-fw-md">Email address:</span>
      <input type="text"
             class="form-control bg-light"
             value="{{ user.email }}"
             disabled>
    </div>
    <div class="mb-3 input-group">
      <span class="input-group-text input-group-text-fw-md">Initials:</span>
      <input type="text"
             class="form-control bg-light"
             value="{{ user.initials }}"
             disabled>
    </div>
  </div>
{% endblock panel_content %}
