{% extends "user/profile_base.html" %}
{% block title %}
  User Profile
{% endblock title %}
{% block panel_title %}
  User Profile - Edit
{% endblock panel_title %}
{% block panel_content %}
  <div class="pt-3 px-3">
    <form method="post">
      {% csrf_token %}
      <div class="input-group mb-3">
        <span class="input-group-text input-group-text-fw-sm">{{ form.first_name.label_tag }}</span>
        {{ form.first_name }}
      </div>
      <span class="text-danger">{{ form.first_name.errors }}</span>
      <div class="input-group mb-3">
        <span class="input-group-text input-group-text-fw-sm">{{ form.last_name.label_tag }}</span>
        {{ form.last_name }}
      </div>
      <span class="text-danger">{{ form.last_name.errors }}</span>
      <div class="mb-3 input-group">
        <span class="input-group-text input-group-text-fw-sm">{{ form.email.label_tag }}</span>
        {{ form.email }}
      </div>
      <span class="text-danger">{{ form.email.errors }}</span>
      <div class="mb-3 input-group">
        <span class="input-group-text input-group-text-fw-sm">{{ form.initials.label_tag }}</span>
        {{ form.initials }}
      </div>
      <span class="text-danger">{{ form.initials.errors }}</span>
      <div class="text-end">
        <a href="{% url 'user_profile' %}" class="btn btn-sm btn-secondary">
          <i class="bi bi-x-lg"></i> Cancel
        </a>
        <button type="submit" class="btn btn-sm btn-success">
          <i class="bi bi-floppy"></i> Save
        </button>
      </div>
    </form>
  </div>
{% endblock panel_content %}
