{% extends "object_detail_base.html" %}
{% load stock_tags %}
{% block title %}
    Reagent Validation
{% endblock title %}
{% block panel_title %}
    <i class="bi bi-clipboard-check-fill validation-text-color"></i> Validation(s) -
    <span class="small">
        <a href="{% url object_to_validate_detail_url object_to_validate.pk %}">{{ object_to_validate }}</a>
    </span>
{% endblock panel_title %}
{% block panel_actions %}
    <span class="p-1">
        <a href="{% url 'validation_create' object_type object_to_validate.pk %}?next={{ request.path }}"
           title="New Validation"
           class="btn btn-sm btn-success">
            <i class="bi bi-plus-circle"></i> New Validation</a>
    </span>
{% endblock panel_actions %}
{% block panel_content %}
    <div class="p-3">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th width="20%">Status</th>
                    <th width="13%">Validated</th>
                    <th width="13%">Authorised</th>
                    <th>Comments</th>
                    <th width="10%">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for validation in validations %}
                    <tr>
                        <td>{% validation_status validation.status True %}</td>
                        <td class="small">
                            {{ validation.validated|date:"d/m/Y" }}
                            <span data-bs-toggle="tooltip"
                                  title="{{ validation.validated_by.get_full_name }}">
                                {{ validation.validated_by.initials }}
                            </span>
                        </td>
                        <td class="small">
                            {{ validation.authorised|date:"d/m/Y" }}
                            <span data-bs-toggle="tooltip"
                                  title="{{ validation.authorised_by.get_full_name }}">
                                {{ validation.authorised_by.initials }}
                            </span>
                        </td>
                        <td>{{ validation.comments }}</td>
                        <td>
                            {{ validation.pk }} <i class="bi bi-pencil-square"></i> <i class="bi bi-trash"></i>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock panel_content %}
