{% extends "object_list_base.html" %}
{% load stock_tags %}
{% block title %}
  Pending Stock Validation
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-clipboard validation-text-color"></i> Validation Required
{% endblock panel_title %}
{% block panel_actions %}
{% endblock panel_actions %}
{% block panel_content %}
  <div class="container-fluid pt-3">
    <!-- Headers -->
    <div class="row g-2 mb-2 d-none d-lg-flex text-muted fw-bold align-items-center">
      <div class="col-5">Stock Items</div>
      <div class="col-2">Created/Delivered</div>
      <div class="col-2">Status</div>
      <div class="col-3">Comments</div>
    </div>
    <!-- Rows for Each Stock Item -->
    {% for stock in stocks %}
      <div class="row g-2 mb-2 border-top align-items-center">
        <!-- Stock Item -->
        <div class="col-8 col-lg-5">
          <a href="{{ stock.get_absolute_url }}">{{ stock }}</a>
        </div>
        <!-- Delivery Date -->
        <div class="col-4 col-lg-2">{{ stock.delivery_date|date:"d/m/Y"|default_if_none:"" }}</div>
        <!-- Status -->
        <div class="col-lg-2 d-none d-lg-block">
          Unknonw or Pending
        </div>
        <!-- Comments -->
        <div class="col-lg-3 d-none d-lg-block">{{ stock.comments }}</div>
      </div>
    {% endfor %}
  </div>
{% endblock panel_content %}
