{% extends "object_list_base.html" %}
{% load stock_tags %}
{% block title %}
  Inhouse Reagent Validation
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-clipboard-check-fill validation-text-color"></i> Validations
{% endblock panel_title %}
{% block panel_actions %}
{% endblock panel_actions %}
{% block panel_content %}
  <div class="table-responsive pt-3">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th width="25%">Stock Items</th>
          <th width="15%">Delivery</th>
          <th width="15%">Status</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in inhouse_reagents %}
          <tr>
            <td>
              <a href="{% url 'stock_detail' stock.pk %}">{{ stock }}</a>
            </td>
            <td>{{ stock.delivery_date|date:"d/m/Y"|default_if_none:"" }}</td>
            <td>?</td>
            <td>{{ stock.comments }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock panel_content %}
