{% extends "object_detail_base.html" %}
{% load static %}
{% block title %}
  Item Detail
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-box2-fill item-text-color"></i> {{ item.name }}
{% endblock panel_title %}
{% block panel_actions %}
  <span class="p-1">
    <a href="{% url 'item_update' item.pk %}?next={{ request.path }}"
       title="Update sitem"
       class="btn btn-sm btn-success">
      <i class="bi bi-pencil-square"></i> Edit</a>
  </span>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="p-3">
    <div class="panel mb-4">
      <div class="panel-heading d-flex justify-content-between">
        <span class="fw-bold"><i class="bi bi-info-circle-fill item-text-color"></i> Item Details</span>
      </div>
      <div class="panel-content">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td width="15%" class="text-muted">Product ID:</td>
              <td width="35%">{{ item.product_id }}</td>
              <td width="15%" class="text-muted">Category:</td>
              <td width="35%">
                <a href="{% url 'category_detail' item.category.pk %}"
                   title="{{ item.category }}">{{ item.category }}</a>
              </td>
            </tr>
            <tr>
              <td class="text-muted">Quantity:</td>
              <td>{{ item.quantity|default:""|floatformat }} {{ item.quantity_unit|default:"" }}</td>
              <td class="text-muted">CAS Number:</td>
              <td>
                {% if item.cas_number %}
                  <i class="bi bi-link-45deg"></i>
                  <a href="https://commonchemistry.cas.org/detail?cas_rn={{ item.cas_number }}"
                     target="blank"
                     title="More chemical details">{{ item.cas_number }}</a>
                {% else %}
                  &nbsp;
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="text-muted">Manufacturer:</td>
              <td>
                <a href="{% url 'company_detail' item.manufacturer.pk %}"
                   title="{{ item.manufacturer }}">{{ item.manufacturer }}</a>
              </td>
              <td class="text-muted">Supplier:</td>
              <td>
                <a href="{% url 'company_detail' item.supplier.pk %}"
                   title="{{ item.supplier }}">{{ item.supplier }}</a>
              </td>
            </tr>
            <tr>
              <td class="text-muted">Description:</td>
              <td colspan="3">{{ item.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {# attachments #}
    <div class="panel mb-4">
      <div class="panel-heading d-flex justify-content-between align-items-center pe-2">
        <span class="fw-bold"><i class="bi bi-folder2-open text-warning"></i> Documents</span>
        <a hx-get="{% url 'item_attachment_upload' item.pk %}"
           hx-trigger="click"
           hx-target="#crudModal .modal-content"
           hx-swap="innerHTML"
           data-bs-toggle="modal"
           data-bs-target="#crudModal"
           href="javascript:"
           class="btn btn-sm btn-success"><i class="bi bi-file-earmark-arrow-up"></i> Upload</a>
      </div>
      <div class="panel-content">
        {% if attachments|length %}
          <table class="table table-sm table-hover">
            <thead class="text-small">
              <tr>
                <th class="text-muted d-none d-lg-block">Uploaded</th>
                <th class="text-muted">Name</th>
                <th class="text-muted">File Name</th>
                <th class="text-muted d-none d-lg-block">Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for file in attachments %}
                <tr>
                  <td class="d-none d-lg-block">
                    <small title="{{ file.uploaded_at|date:'d/m/Y H:i:s' }}">{{ file.uploaded_at|date:'d/m/Y' }}</small>
                  </td>
                  <td>{{ file.name }}</td>
                  <td>
                    {% if file.filetype %}
                      <i class="bi bi-filetype-{{ file.filetype }} text-warning"></i>
                    {% else %}
                      <i class="bi bi-file-earmark text-warning"></i>
                    {% endif %}
                    <a href="{{ file.file.url }}" title="Open/download {{ file.filename }}">{{ file.filename }}</a>
                  </td>
                  <td class="d-none d-lg-block">
                    <span class="small">{{ file.description|default:"&nbsp;" }}</span>
                  </td>
                  <td>
                    <a hx-get="{% url 'item_attachment_update' file.id %}"
                       hx-trigger="click"
                       hx-target="#crudModal .modal-content"
                       hx-swap="innerHTML"
                       data-bs-toggle="modal"
                       data-bs-target="#crudModal"
                       href="javascript:"><i class="bi bi-pencil-square"></i></a>
                    <a hx-get="{% url 'item_attachment_delete' file.id %}"
                       hx-trigger="click"
                       hx-target="#crudModal .modal-content"
                       hx-swap="innerHTML"
                       data-bs-toggle="modal"
                       data-bs-target="#crudModal"
                       href="javascript:"><i class="bi bi-trash"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
    {# stocks #}
    <div class="panel mb-4">
      <div class="panel-heading d-flex justify-content-between">
        <span class="fw-bold"><i class="bi bi-box-seam-fill stock-text-color"></i> Available Stocks</span>
      </div>
      <div class="panel-content">
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Received</th>
                <th>Lot Number</th>
                <th>Box Number</th>
                <th>Expiry Date</th>
                <th>Location</th>
                <th>Quantity</th>
                <th class="text-muted">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for stock in stocks %}
                {# TODO: paginate page_obj #}
                <tr>
                  <td>
                    <a href="{% url 'delivery_detail' stock.delivery.pk %}"
                       title="delivery details">{{ stock.delivery.delivery_date|date:'d/m/Y' }}</a>
                  </td>
                  <td>{{ stock.lot_number }}</td>
                  <td>
                    <a href="{% url 'stock_detail' stock.pk %}" title="stock details"><span class="badge rounded-pill bg-info"><b>{{ stock.ordinal_number }}</b></span></a>
                  </td>
                  <td>{{ stock.expiry_date|date:'d/m/Y' }}</td>
                  <td>
                    <a href="{% url 'location_detail' stock.location.pk %}"
                       title="location details">{{ stock.location }}</a>
                  </td>
                  <td>{{ stock.remaining_quantity_display }}</td>
                  <td>
                    <a href="{% url 'stock_update' stock.pk %}?next={{ request.path }}"
                       title="Update {{ stock.name }}"><i class="bi bi-pencil-square"></i></a>
                    <a hx-get="{% url 'stock_delete' stock.pk %}?next={{ request.path }}"
                       hx-trigger="click"
                       hx-target="#crudModal .modal-content"
                       hx-swap="innerHTML"
                       data-bs-toggle="modal"
                       data-bs-target="#crudModal"
                       href="javascript:"><i class="bi bi-trash"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {# update time #}
  {% include "partials/object_last_updated.html" %}
{% endblock panel_content %}
{# upload attachment modal #}
{% block modals %}
  <div class="modal fade"
       id="crudModal"
       tabindex="-1"
       aria-labelledby="crudModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- HTMX rendered content -->
      </div>
    </div>
  </div>
{% endblock modals %}
