{% extends "object_create_base.html" %}
{% block title %}
  Item Create
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-box2-fill item-text-color"></i> New Item
{% endblock panel_title %}
{% block create_form %}
  <div class="px-3 pt-3">
    <span class="text-danger">{{ form.non_field_errors }}</span>
    {# name #}
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.name.label_tag }}</span>
      {{ form.name }}
    </div>
    <span class="text-danger">{{ form.name.errors }}</span>
    {# product id #}
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.product_id.label_tag }}</span>
      {{ form.product_id }}
    </div>
    {# cas number #}
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.cas_number.label_tag }}</span>
      {{ form.cas_number }}
    </div>
    <span class="text-danger">{{ form.product_id.errors }}</span>
    {# quantity #}
    <div class="row">
      <div class="col-6 col-lg-9">
        <div class="input-group mb-3">
          <span class="input-group-text input-group-text-fw-sm">{{ form.quantity.label_tag }}</span>
          {{ form.quantity }}
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="input-group mb-3">
          <span class="input-group-text input-group-text-fw-sm">{{ form.quantity_unit.label_tag }}</span>
          {{ form.quantity_unit }}
        </div>
      </div>
    </div>
    <div id="category-input" class="type-search-input">{% include "category/partials/category_search_input.html" %}</div>
    <span class="text-danger">{{ form.category.errors }}</span>
    <div id="manufacturer-input" class="type-search-input">
      {% include "company/partials/manufacturer_search_input.html" %}
    </div>
    <span class="text-danger">{{ form.manufacturer.errors }}</span>
    <div id="supplier-input" class="type-search-input">{% include "company/partials/supplier_search_input.html" %}</div>
    <span class="text-danger">{{ form.supplier.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.description.label_tag }}</span>
      {{ form.description }}
    </div>
    <span class="text-danger">{{ form.description.errors }}</span>
  </div>
{% endblock create_form %}
{% block js %}
  <script>
    // Array of configurations for each search box
    const searchConfigurations = [
    {
        searchBoxId: "category_search_box",
        textInputId: "id_category",
        resultsDivId: "categorySearchResults",
        resultClass: "category-search-result-category",
        valueAttribute: "category-pk"
    },
    {
        searchBoxId: "manufacturer_search_box",
        textInputId: "id_manufacturer",
        resultsDivId: "manufacturerSearchResults",
        resultClass: "company-search-result-manufacturer",
        valueAttribute: "company-pk"
    },
    {
        searchBoxId: "supplier_search_box",
        textInputId: "id_supplier",
        resultsDivId: "supplierSearchResults",
        resultClass: "company-search-result-supplier",
        valueAttribute: "company-pk"
    }
    ];

    // Initialize each search box listener
    searchConfigurations.forEach(
      config => TypeSearchResultListenerConfig(config)
    );
  </script>
{% endblock js %}
