{% extends "object_detail_base.html" %}
{% load static %}
{% block title %}
  Item Detail
{% endblock title %}
{% block panel_title %}
  {{ item.name }}
{% endblock panel_title %}
{% block panel_content %}
  <div class="row p-3">
    {# image #}
    <div class="col-lg-3 text-center">
      <img src="{% static item.image|default:'images/item/item_no_photo.png' %}"
           width="200"
           height="150"
           alt="{% if item.image %}{{ item.name }} photo{% else %}no photo{% endif %}">
    </div>
    {# details #}
    <div class="col-lg-9">
      <div class="panel" style="min-height: 150px;">
        <div class="panel-heading d-flex justify-content-between">
          <span class="h5">{{ item.name }}</span>
          <a href="{% url 'item_update' item.pk %}?next={{ request.path }}"
             class="btn btn-sm btn-success"><i class="bi bi-pencil-square"></i> Edit</a>
        </div>
        <div class="panel-content">
          <table class="table table-sm table-borderless">
            <tbody>
              <tr>
                <td width="15%" class="text-muted">Product ID:</td>
                <td width="35%">{{ item.product_id }}</td>
                <td width="15%" class="text-muted">Category:</td>
                <td width="35%">
                  <a href="{% url 'category_detail' item.category.pk %}"
                     title="{{ item.category }}">{{ item.category }}</a>
                </td>
              </tr>
              <tr>
                <td class="text-muted">Manufacturer:</td>
                <td>
                  <a href="{% url 'company_detail' item.manufacturer.pk %}"
                     title="{{ item.manufacturer }}">{{ item.manufacturer }}</a>
                </td>
                <td class="text-muted">Supplier:</td>
                <td>
                  <a href="{% url 'company_detail' item.supplier.pk %}"
                     title="{{ item.supplier }}">{{ item.supplier }}</a>
                </td>
              </tr>
              <tr>
                <td class="text-muted">Description:</td>
                <td colspan="3">{{ item.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {# attachments #}
  <div class="row px-3">
    <div class="col">
      <div class="panel">
        <div class="panel-heading d-flex justify-content-between">
          <span class="h5">Attachments</span>
          <a data-bs-toggle="offcanvas"
             href="#offcanvasUpload"
             class="btn btn-sm btn-success"><i class="bi bi-file-earmark-arrow-up"></i> Upload</a>
        </div>
        <div class="panel-content">
          <table class="table table-sm table-hover">
            <thead class="text-small">
              <tr>
                <th class="text-muted d-none d-lg-block">Uploaded</th>
                <th class="text-muted">Name</th>
                <th class="text-muted">File Name</th>
                <th class="text-muted d-none d-lg-block">Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for file in attachments %}
                <tr>
                  <td class="d-none d-lg-block">
                    <small title="{{ file.uploaded_at|date:'d/m/Y H:i:s' }}">{{ file.uploaded_at|date:'d/m/Y' }}</small>
                  </td>
                  <td>{{ file.name }}</td>
                  <td>
                    {% if file.filetype %}
                      <i class="bi bi-filetype-{{ file.filetype }}"></i>
                    {% else %}
                      <i class="bi bi-file-earmark"></i>
                    {% endif %}
                    <a href="{{ file.file.url }}" title="Open/download {{ file.filename }}">{{ file.filename }}</a>
                  </td>
                  <td class="d-none d-lg-block">
                    <span class="small">{{ file.description|default:"&nbsp;" }}</span>
                  </td>
                  <td>
                    <a href="#"><i class="bi bi-pencil-square"></i></a>
                    <a hx-get="{% url 'item_attachment_delete' file.id %}"
                       hx-trigger="click"
                       hx-target="#deleteModal .modal-content"
                       hx-swap="innerHTML"
                       data-bs-toggle="modal"
                       data-bs-target="#deleteModal"
                       href="javascript:void(0);"><i class="bi bi-trash"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {# stocks #}
  <div class="row p-3">
    <div class="col">
      <div class="panel">
        <div class="panel-heading d-flex justify-content-between">
          <span class="h5">Available Stocks</span>
        </div>
        <div class="panel-content">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Received</th>
                <th>Lot Number</th>
                <th>Box Number</th>
                <th>Expiry Date</th>
                <th>Location</th>
                <th>Level</th>
              </tr>
            </thead>
            <tbody>
              {% for stock in stockitems %}
                <tr>
                  <td>
                    <a href="{% url 'delivery_detail' stock.delivery.pk %}"
                       title="delivery details">{{ stock.delivery.delivery_date|date:'d/m/Y' }}</a>
                  </td>
                  <td>{{ stock.lot_number }}</td>
                  <td>
                    <a href="{% url 'stock_detail' stock.pk %}" title="stock details"><span class="badge rounded-pill bg-info"><b>{{ stock.ordinal_number }}</b></span></a>
                  </td>
                  <td>{{ stock.expiry_date }}</td>
                  <td>
                    <a href="{% url 'location_detail' stock.location.pk %}"
                       title="location details">{{ stock.location }}</a>
                  </td>
                  <td>level</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {# update time #}
  <div class="row px-3">
    <div class="pt-0 text-end align-bottom fw-light fst-italic">
      <small>Updated: {{ item.last_updated|date:'d/m/Y h:i' }}</small>
    </div>
  </div>
{% endblock panel_content %}
{# upload attachment modal #}
{% block offcanvas %}
  {% include "item/item_detail_attachment_upload.html" %}
{% endblock offcanvas %}
{% block modals %}
  <!-- Delete Modal -->
  <div class="modal fade"
       id="deleteModal"
       tabindex="-1"
       aria-labelledby="deleteModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- HTMX rendered content -->
      </div>
    </div>
  </div>
{% endblock modals %}
