{% extends "base.html" %}
{% block title %}
  Items
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <div class="panel">
      <div class="panel-heading d-flex justify-content-between me-2">
        <span class="h4">Items</span>
        <span><a href="{% url 'item_create' %}" class="btn btn-success"><i class="bi bi-plus-circle"></i> New item</a></span>
      </div>
      <div class="panel-content">
        <ul>
          {% for item in items %}
            <li>
              <p>
                <span class="h4">{{ item.name }}</span>
                <span class="h5"> ({{ item.product_id }})</span>
                <span><a href="{% url 'item_update' item.pk %}"><i class="bi bi-pencil-square"></i></a> |
                  <a hx-get="{% url 'item_delete' item.pk %}"
                     hx-trigger="click"
                     hx-target="#deleteModal .modal-content"
                     hx-swap="innerHTML"
                     data-bs-toggle="modal"
                     data-bs-target="#deleteModal"><i class="bi bi-trash text-danger"></i></a></span>
              </p>
              <p>{{ location.description }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <!-- Delete Modal -->
  <div class="modal fade"
       id="deleteModal"
       tabindex="-1"
       aria-labelledby="deleteModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- HTMX rendered content -->
      </div>
    </div>
  </div>
{% endblock content %}
