{% extends "object_list_base.html" %}
{% block title %}
  Items
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-boxes item-text-color"></i> All Items
{% endblock panel_title %}
{% block panel_actions %}
  <a href="{% url 'item_create' %}" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> New item</a>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="table-responsive pt-3">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Product ID</th>
          <th>Category</th>
          <th>Manufacturer</th>
          <th>Supplier</th>
          <th>Description</th>
          <th class="d-none d-lg-table-cell">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>
              <a href="{% url 'item_detail' item.pk %}" title="item details">{{ item.name }}</a>
            </td>
            <td class="small">{{ item.product_id }}</td>
            <td>
              <a href="{% url 'category_detail' item.category.pk %}"
                 title="item details">{{ item.category }}</a>
            </td>
            <td>
              {% if item.manufacturer %}
                <a href="{% url 'company_detail' item.manufacturer.pk %}">{{ item.manufacturer }}</a>
              {% endif %}
            </td>
            <td>
              {% if item.supplier %}
                <a href="{% url 'company_detail' item.supplier.pk %}">{{ item.supplier }}</a>
              {% endif %}
            </td>
            <td class="small">{{ item.description|truncatechars:150 }}</td>
            <td class="d-none d-lg-table-cell">
              <a href="{% url 'item_update' item.pk %}"><i class="bi bi-pencil-square"></i></a>
              <a hx-get="{% url 'item_delete' item.pk %}"
                 hx-trigger="click"
                 hx-target="#crudModal .modal-content"
                 hx-swap="innerHTML"
                 data-bs-toggle="modal"
                 data-bs-target="#crudModal"
                 href="javascript:"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock panel_content %}
