{% extends "object_list_base.html" %}
{% load stock_tags %}
{% block title %}
  Stock
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-boxes" style="color: var(--bs-orange);"></i> All Stock Items
{% endblock panel_title %}
{% block panel_actions %}
  <a href="{% url 'stock_create' %}" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> New stock</a>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Box ID</th>
          <th>Level</th>
          <th>Lot Number</th>
          <th>Expiry Date</th>
          <th class="d-none d-lg-table-cell">Delivery</th>
          <th>Location</th>
          <th class="d-none d-lg-table-cell">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
          <tr>
            <td class="align-middle">
              <a href="{% url 'item_detail' stock.item.pk %}">{{ stock.item.name }}</a>
            </td>
            <td>
              <a href="{% url 'stock_detail' stock.pk %}"
                 data-bs-toggle="tooltip"
                 title="#{{ stock.ordinal_number }} Received at {{ stock.delivery.delivery_date|date:'d/m/y H:i' }}">
                <span class="badge rounded-pill bg-info"><b>{{ stock.ordinal_number }}</b></span>
              </a>
            </td>
            <td>stock level</td>
            <td>{{ stock.lot_number }}</td>
            <td>{{ stock.expiry_date|date:'d/m/Y' }}</td>
            <td class="d-none d-lg-table-cell">
              <a href="{% url 'delivery_detail' stock.delivery.pk %}"
                 title="{{ stock.delivery }}"
                 data-bs-toggle="tooltip">{{ stock.delivery.delivery_date|date:'d/m/Y' }}</a>
              {% delivery_condicon stock.delivery_condition %}
            </td>
            <td>
              <a href="{% url 'location_detail' stock.location.pk %}"
                 title="Location detail">{{ stock.location.name }}</a>
            </td>
            <td class="d-none d-lg-table-cell">
              <a href="{% url 'stock_update' pk=stock.pk %}"><i class="bi bi-pencil-square"></i></a>
              <a hx-get="{% url 'stock_delete' stock.pk %}"
                 hx-trigger="click"
                 hx-target="#crudModal .modal-content"
                 hx-swap="innerHTML"
                 data-bs-toggle="modal"
                 data-bs-target="#crudModal"
                 href="javascript:void(0);"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock panel_content %}
