{% extends "object_create_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Stock Item
{% endblock title %}
{% block panel_title %}
  Commit to stock
{% endblock panel_title %}
{% block create_form %}
  <div id="item-input" class="type-search-input">
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">Item Received</span>
      <input type="text"
             name="item_query"
             id="item_search_box"
             class="form-control"
             autocomplete="off"
             placeholder="Start typing to enter an item..."
             hx-trigger="keyup changed delay:500ms"
             hx-get="{% url 'item_search' %}"
             hx-target="#itemSearchResults">
      <span class="input-group-text">
        <a href="{% url 'item_create' %}?next={{ request.path }}"
           class="btn btn-sm btn-light">
          <i class="bi bi-plus-circle"></i>
        </a>
      </span>
    </div>
    {{ form.item.errors }}
    <div id="itemSearchResults" class="list-group type-search-result"></div>
    <input type="text" name="item" id="id_item" value="0" hidden>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text input-group-text-fw-sm">Lot Number</span>
    <input type="text"
           name="lot_number"
           id="id_lot_number"
           class="form-control"
           autocomplete="off"
           placeholder="Lot number or batch number...">
  </div>
  {{ form.lot_number.errors }}
  <div class="input-group mb-3">
    <span class="input-group-text input-group-text-fw-sm">Expiry Date</span>
    <input type="date"
           name="expiry_date"
           id="id_expiry_date"
           class="form-control"
           placeholder="Expiry Date">
  </div>
  {{ form.expiry_date.errors }}
  <div class="input-group mb-3">
    <span class="input-group-text input-group-text-fw-sm">Delivery</span>
    <select name="delivery" id="id_delivery" class="form-select">
      {% for delivery in form.delivery %}{{ delivery }}{% endfor %}
    </select>
    <span class="input-group-text">
      <a href="{% url 'delivery_create' %}?next={{ request.path }}"
         class="btn btn-sm btn-light">
        <i class="bi bi-plus-circle"></i></a>
    </span>
  </div>
  {{ form.delivery.errors }}
  <div class="input-group mb-3">
    <span class="input-group-text input-group-text-fw-sm">Quantity</span>
    <input type="number"
           name="quantity"
           id="id_quantity"
           min="1"
           value="1"
           class="form-control"
           placeholder="Quantity received...">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text input-group-text-fw-sm">Condition</span>
    <select name="delivery_condition"
            id="id_delivery_condition"
            class="form-select">
      {% for condition in form.delivery_condition %}{{ condition }}{% endfor %}
    </select>
  </div>
  {{ form.delivery_condition.errors }}
  <div class="input-group mb-3">
    <span class="input-group-text input-group-text-fw-sm">Location</span>
    <select name="location" id="id_location" class="form-select">
      {% for location in form.location %}{{ location }}{% endfor %}
    </select>
    <span class="input-group-text">
      <a href="{% url 'location_create' %}?next={{ request.path }}"
         class="btn btn-sm btn-light">
        <i class="bi bi-plus-circle"></i></a>
    </span>
  </div>
  {{ form.location.errors }}
{% endblock create_form %}
{% block js %}
  <script>
    //set up the search result listener for the item search box
    TypeSearchResultListenerConfig({
      searchBoxId: "item_search_box",
      textInputId: "id_item",
      resultsDivId: "itemSearchResults",
      resultClass: "item-search-result-item",
      valueAttribute: "item-pk"
    });
  </script>
{% endblock js %}
