{% extends "base.html" %}
{% block title %}
  Stock Items
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <div class="panel">
      <div class="panel-heading d-flex justify-content-between me-2">
        <span class="h4">Stock Items</span>
        <span><a href="{% url 'stock_create' %}" class="btn btn-success"><i class="bi bi-plus-circle"></i> New stock</a></span>
      </div>
      <div class="panel-content">
        <ul>
          {% for stock in stockitems %}
            <li>
              <p>
                <span class="h4">{{ stock.item.name }}</span>
                <span class="h5">({{ stock.delivery.delivery_date }})</span>
                <span><a href="{ url 'stock_update' stock.pk }"><i class="bi bi-pencil-square"></i></a> |
                  <a hx-get="{ url 'stock_delete' stock.pk }"
                     hx-trigger="click"
                     hx-target="#deleteModal .modal-content"
                     hx-swap="innerHTML"
                     data-bs-toggle="modal"
                     data-bs-target="#deleteModal"><i class="bi bi-trash text-danger"></i></a></span>
              </p>
              <p>{{ location.description }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <!-- Delete Modal -->
  <div class="modal fade"
       id="deleteModal"
       tabindex="-1"
       aria-labelledby="deleteModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- HTMX rendered content -->
      </div>
    </div>
  </div>
{% endblock content %}
