{% extends "base.html" %}
{% load stock_tags %}
{% block title %}
  Stock Items
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <div class="panel">
      <div class="panel-heading d-flex justify-content-between me-2">
        <span class="h4">Stock Items</span>
        <span><a href="{% url 'stock_create' %}" class="btn btn-success"><i class="bi bi-plus-circle"></i> New stock</a></span>
      </div>
      <div class="panel-content">
        <div class="row my-2 px-2">
          <div class="border-bottom col col-lg-3">
            <b>Item</b>
          </div>
          <div class="border-bottom col col-lg-1">
            <b>Box ID</b>
          </div>
          <div class="border-bottom col col-lg-1">
            <b>Level</b>
          </div>
          <div class="border-bottom col col-lg-1">
            <b>Lot Number</b>
          </div>
          <div class="border-bottom col col-lg-1">
            <b>Expiry Date</b>
          </div>
          <div class="border-bottom col col-lg-1">
            <b>Delivery</b>
          </div>
          <div class="border-bottom col col-lg-2">
            <b>Location</b>
          </div>
          <div class="border-bottom col col-lg-1 d-none d-lg-block">
            <b>Actions</b>
          </div>
        </div>
        {% for stock in stockitems %}
          <div class="row my-2 px-2">
            <div class="border-bottom col col-lg-3">
              <a href="{% url 'item_detail' stock.item.pk %}">{{ stock.item.name }}</a>
            </div>
            <div class="border-bottom col col-lg-1">
              <a href="{% url 'stock_detail' pk=stock.pk %}"
                 title="#{{ stock.ordinal_number }} Received at {{ stock.delivery.delivery_date|date:'d/m/y h:i' }}">
                <span class="badge rounded-pill bg-info"><b>{{ stock.ordinal_number }}</b></span>
              </a>
            </div>
            <div class="border-bottom col col-lg-1">stock level</div>
            <div class="border-bottom col col-lg-1">{{ stock.lot_number }}</div>
            <div class="border-bottom col col-lg-1">{{ stock.expiry_date|date:'d/m/Y' }}</div>
            <div class="border-bottom col col-lg-1 d-none d-lg-block">
              <a href="{% url 'delivery_detail' pk=stock.delivery.pk %}">{{ stock.delivery.delivery_date|date:'d/m/Y' }}</a>
              {% delivery_condicon stock.delivery_condition %}
            </div>
            <div class="border-bottom col col-lg-2">
              <a href="{% url 'location_detail' pk=stock.location.pk %}"
                 title="Location detail">{{ stock.location.name }}</a>
            </div>
            <div class="border-bottom col col-lg-1">
              <span class="px-2">
                <a href="{% url 'stock_update' stock.pk %}"><i class="bi bi-pencil-square"></i></a>
              </span>
              <span class="px-2">
                <a hx-get="{% url 'stock_delete' stock.pk %}"
                   hx-trigger="click"
                   hx-target="#deleteModal .modal-content"
                   hx-swap="innerHTML"
                   data-bs-toggle="modal"
                   data-bs-target="#deleteModal"
                   href="javascript:void(0);"><i class="bi bi-trash"></i></a>
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Delete Modal -->
  <div class="modal fade"
       id="deleteModal"
       tabindex="-1"
       aria-labelledby="deleteModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- HTMX rendered content -->
      </div>
    </div>
  </div>
{% endblock content %}
