{% extends "base.html" %}
{% block css %}
  <style>
  #searchResults {
    position: absolute;
    width: 100%;
    z-index: 1000;
    /* Additional styling */
}
  </style>
{% endblock css %}
{% block content %}
  <input id="searchBox"
  type="text"
         class="form-control"
         name="q"
         hx-get="{% url 'item_search' %}"
         hx-trigger="keyup changed delay:500ms"
         hx-target="#searchResults"
         hx-indicator="#loadingIndicator">
  <div id="searchResults" class="list-group position-absolute"></div>
  <div id="loadingIndicator" style="display: none;">Loading...</div>
  <input type="text" class="form-control">
  <input type="submit" value="Search" class="btn btn-primary">
{% endblock %}
{% block js %}
  <script>
  document.addEventListener('click', function(event) {
      if (event.target.classList.contains('list-group-item')) {
          var input = document.getElementById('searchBox');
          input.value = event.target.textContent;
          document.getElementById('searchResults').innerHTML = ''; // Clear results
      }
  }, false);
  </script>
{% endblock js %}
