{% extends "object_detail_base.html" %}
{% load stock_tags %}
{% block title %}
  Stock
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-box-seam-fill stock-text-color"></i> {{ stock.item.name }}
{% endblock panel_title %}
{% block panel_actions %}
  <span class="p-1">
    <a href="{% url 'stock_update' stock.pk %}?next={{ request.path }}"
       title="Update stock"
       class="btn btn-sm btn-success">
      <i class="bi bi-pencil-square"></i> Edit</a>
  </span>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="p-3">
    {# stock info #}
    <div class="panel mb-4">
      <div class="panel-heading d-flex justify-content-between">
        <span class="fw-bold"><i class="bi bi-info-circle-fill stock-text-color"></i> Stock Details</span>
      </div>
      <div class="panel-content">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td width="20%" class="text-muted">Item:</td>
              <td width="30%">
                <a href="{% url 'item_detail' stock.item.pk %}">{{ stock.item.name }}</a>
              </td>
              <td width="20%"  class="text-muted"></td>
              <td width="30%">
                <span class="ms-3 badge rounded-pill bg-info"></span>
              </td>
            </tr>
            <tr>
              <td class="text-muted">Product ID:</td>
              <td>{{ stock.item.product_id }}</td>
              <td class="text-muted">Expiry Date:</td>
              <td>{{ stock.expiry_date|date:"d/m/Y" }}</td>
            </tr>
            <tr>
              <td class="text-muted">Lot Number:</td>
              <td>{{ stock.lot_number }}</td>
              <td class="text-muted">Delivery Date:</td>
              <td>{{ stock.delivery_date|date:"d/m/Y" }}</td>
            </tr>
            <tr>
              <td class="text-muted">Category:</td>
              <td>
                <a href="{% url 'category_detail' stock.item.category.pk %}">{{ stock.item.category.name }}</a>
              </td>
              <td class="text-muted">Received Condition:</td>
              <td>{% delivery_condition stock.condition True %}</td>
            </tr>
            <tr>
              <td class="text-muted">Notes:</td>
              <td colspan="3">{{ stock.comments }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {# stock info end #}
    {# attachments #}
    <div class="panel mb-4">
      <div class="panel-heading d-flex justify-content-between align-items-center pe-2">
        <span class="fw-bold"><i class="bi bi-folder2-open text-warning"></i> Documents</span>
        <a hx-get="{% url 'stock_attachment_upload' stock.pk %}"
           hx-trigger="click"
           hx-target="#crudModal .modal-content"
           hx-swap="innerHTML"
           data-bs-toggle="modal"
           data-bs-target="#crudModal"
           href="javascript:"
           class="btn btn-sm btn-success"><i class="bi bi-file-earmark-arrow-up"></i> Upload</a>
      </div>
      <div class="panel-content">
        {% if attachments|length %}
          <table class="table table-sm table-hover">
            <thead class="text-small">
              <tr>
                <th class="text-muted d-none d-lg-block">Uploaded</th>
                <th class="text-muted">Name</th>
                <th class="text-muted">File Name</th>
                <th class="text-muted d-none d-lg-block">Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for file in attachments %}
                <tr>
                  <td class="d-none d-lg-block">
                    <span title="{{ file.uploaded_at|date:'d/m/Y H:i:s' }}">{{ file.uploaded_at|date:'d/m/Y' }}</span>
                  </td>
                  <td>{{ file.name }}</td>
                  <td>
                    {% if file.filetype %}
                      <i class="bi bi-filetype-{{ file.filetype }} text-warning"></i>
                    {% else %}
                      <i class="bi bi-file-earmark text-warning"></i>
                    {% endif %}
                    <a href="{{ file.file.url }}" title="Open/download {{ file.filename }}">{{ file.filename }}</a>
                  </td>
                  <td class="d-none d-lg-block">
                    <span class="small">{{ file.description|default:"&nbsp;" }}</span>
                  </td>
                  <td>
                    <a hx-get="{% url 'stock_attachment_update' file.id %}"
                       hx-trigger="click"
                       hx-target="#crudModal .modal-content"
                       hx-swap="innerHTML"
                       data-bs-toggle="modal"
                       data-bs-target="#crudModal"
                       href="javascript:"><i class="bi bi-pencil-square"></i></a>
                    <a hx-get="{% url 'stock_attachment_delete' file.id %}"
                       hx-trigger="click"
                       hx-target="#crudModal .modal-content"
                       hx-swap="innerHTML"
                       data-bs-toggle="modal"
                       data-bs-target="#crudModal"
                       href="javascript:"><i class="bi bi-trash"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
    {# attachments end #}
    {# stock validations #}
    <div class="panel mb-4">
      <div class="panel-heading d-flex justify-content-between">
        <span class="fw-bold">
          <i class="bi bi-clipboard-check-fill validation-text-color"></i>
          Validations
        </span>
        <span class="text-success pe-2">
          <a href="{% url 'validation_create' 'stock' stock.pk %}"
             class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> Add</a>
        </span>
      </div>
      <div class="panel-content">
        <table class="table table-sm">
          <thead>
            <tr>
              <th width="20%" class="text-muted">Status</th>
              <th width="13%" class="text-muted">Validated</th>
              <th width="13%" class="text-muted">Authorised</th>
              <th class="text-muted">Validation comments</th>
              <th width="10%" class="text-muted">Actions</th>
            </tr>
          </thead>
          <tbody class="small">
            {% for sv in stock.validations.all %}
              <tr>
                <td>{% validation_status sv.validation.status True %}</td>
                <td>
                  {{ sv.validation.validated|date:"d/m/Y" }}
                  <span data-bs-toggle="tooltip"
                        title="{{ sv.validation.validated_by.get_full_name }}">
                    {{ sv.validation.validated_by.initials }}
                  </span>
                </td>
                <td>
                  {{ sv.validation.authorised|date:"d/m/Y" }}
                  <span data-bs-toggle="tooltip"
                        title="{{ sv.validation.authorised_by.get_full_name }}">
                    {{ sv.validation.authorised_by.initials }}
                  </span>
                </td>
                <td>{{ sv.validation.comments|default_if_none:"" }}</td>
                <td>
                  <a href="{% url 'validation_update' sv.pk %}"
                     title="Edit the validation"><i class="bi bi-pencil-square"></i></a>
                  <a hx-get="{% url 'validation_delete' sv.pk %}"
                     hx-trigger="click"
                     hx-target="#crudModal .modal-content"
                     hx-swap="innerHTML"
                     data-bs-toggle="modal"
                     data-bs-target="#crudModal"
                     href="javascript:"><i class="bi bi-trash"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {# stock validations end #}
    {# stock entries #}
    <div class="panel mb-4">
      <div class="panel-heading d-flex justify-content-between">
        <span class="fw-bold"><i class="bi bi-boxes stock-text-color"></i> Stock Entries</span>
      </div>
      <div class="panel-content">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th class="text-muted text-center">Box</th>
              <th class="text-muted text-center">In-Use</th>
              <th class="text-muted text-center">Quantity</th>
              <th class="text-muted">Location</th>
              <th class="text-muted">Comments</th>
              <th class="text-muted text-center">Actions</th>
            </tr>
          </thead>
          <tbody class="small">
            {% for entry in stock.entries.all %}
              <tr>
                <td class="text-center">
                  <span class="icon-with-text">
                    <i class="bi bi-box2-fill icon-with-text-icon {% if entry.remaining_quantity == 0 %}text-gray-300{% else %}{% stock_entry_colour entry.ordinal_number %}-text-color{% endif %}"></i>
                    <span class="icon-with-text-low">{{ entry.ordinal_number }}</span>
                  </span>
                </td>
                <td class="text-center">{{ entry.in_use_date|date:"d/m/Y"|default_if_none:"" }}</td>
                <td class="text-center max-width-100px">
                  {% if entry.remaining_quantity == 0 %}
                    <del>0 {{ entry.remaining_unit }}</del>
                  {% else %}
                    {% include "usage/usage_htmx_updated.html" %}
                  {% endif %}
                </td>
                <td>
                  <a href="{% url 'location_detail' entry.location.pk %}">{{ entry.location.name }}</a>
                </td>
                <td>{{ entry.comments|default_if_none:"" }}</td>
                <td class="text-center">
                  <a href="{% url 'stock_entry_update' entry.pk %}?next={{ request.path }}"
                     title="Edit {{ entry.ordinal_number }}"><i class="bi bi-pencil-square"></i></a>
                  <a hx-get="{% url 'stock_entry_delete' entry.pk %}?next={{ request.path }}"
                     hx-trigger="click"
                     hx-target="#crudModal .modal-content"
                     hx-swap="innerHTML"
                     data-bs-toggle="modal"
                     data-bs-target="#crudModal"
                     title="Delete {{ entry.ordinal_number }}"
                     href="javascript:"><i class="bi bi-trash"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {# stock entries end #}
  </div>
  {% include "partials/object_last_updated.html" %}
{% endblock panel_content %}
