{% extends "object_update_base.html" %}
{% block title %}
  Stock
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-box-seam-fill stock-text-color"></i> Update Stock
{% endblock panel_title %}
{% block update_form %}
  <div class="px-3 pt-3">
    <span class="text-danger">{{ form.non_field_errors }}</span>
    {# item search input UI disabled #}
    <div id="item-input" class="type-search-input">
      <div class="input-group mb-3">
        <span class="input-group-text input-group-text-fw-sm">{{ form.item.label_tag }}</span>
        <input type="text"
               name="item_query"
               class="form-control"
               disabled
               value="{{ item_name }}">
      </div>
      <input type="text"
             name="item"
             id="id_item"
             hidden
             value="{{ form.item.value }}">
    </div>
    {# item search input end #}
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.lot_number.label_tag }}</span>
      {{ form.lot_number }}
    </div>
    <span class="text-danger">{{ form.lot_number.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.expiry_date.label_tag }}</span>
      {{ form.expiry_date }}
    </div>
    <span class="text-danger">{{ form.expiry_date.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.delivery_date.label_tag }}</span>
      {{ form.delivery_date }}
    </div>
    <span class="text-danger">{{ form.delivery_date.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.condition.label_tag }}</span>
      {{ form.condition }}
    </div>
    <span class="text-danger">{{ form.condition.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.comments.label_tag }}</span>
      {{ form.comments }}
    </div>
    <span class="text-danger">{{ form.comments.errors }}</span>
  </div>
{% endblock update_form %}

