{% extends "object_list_base.html" %}
{% load stock_tags %}
{% block title %}
  Stock
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-boxes stock-text-color"></i> All Stock Items
{% endblock panel_title %}
{% block panel_actions %}
  <a href="{% url 'stock_create' %}" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> New stock</a>
{% endblock panel_actions %}
{% block panel_content %}
  {% for stock in stocks %}
    <div class="panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-lg-3">
            <a href="{% url 'stock_detail' stock.pk %}"><span class="fs-6 fs-sm-5">{{ stock.item.name }}</span></a>
            {% if stock.comments %}
              <i class="bi bi-chat-left-dots ps-2 text-danger"
                 title="Comments: {{ stock.comments }}"
                 data-bs-toggle="tooltip"></i>
            {% endif %}
          </div>
          {% if forloop.first %}
            <div class="col-lg-7 d-none d-lg-block">
              <div class="row text-center fw-bold text-muted small  align-items-center">
                <div class="col-1">Box</div>
                <div class="col-2">In use</div>
                <div class="col-3">Quantity</div>
                <div class="col-2">Location</div>
                <div class="col-3">Comments</div>
                <div class="col-auto d-none d-lg-block">{% include "partials/tooltray_toggle_icon.html" %}</div>
              </div>
            </div>
          {% endif %}
          <div class="col flex-grow-1">
            <span class="float-end pe-2 tooltray-container d-none">
              <a href="#offcanvasPrintSetting"
                 data-bs-toggle="offcanvas"
                 hx-target="#offcanvas-form"
                 hx-get="{% url 'stock_label_print' stock.pk %}"
                 hx-swap="innerHTML"
                 title="Print QR Code Stickers"><i class="bi bi-qr-code"></i></a>              
              <a href="{% url 'stock_update' stock.pk %}"
                 title="Edit stock information"><i class="bi bi-pencil-square"></i></a>
              <a hx-get="{% url 'stock_delete' stock.pk %}"
                 hx-trigger="click"
                 hx-target="#crudModal .modal-content"
                 hx-swap="innerHTML"
                 data-bs-toggle="modal"
                 data-bs-target="#crudModal"
                 title="Delete this stock and all its entries"
                 href="javascript:"><i class="bi bi-trash"></i></a>
            </span>
          </div>
        </div>
      </div>
      <div class="panel-content">
        <div class="row align-items-center">
          <div class="col-lg-3 small px-5">
            {# stock properties #}
            <table class="table table-sm table-borderless table-compact">
              <tr>
                <td class="text-muted">Product Id:</td>
                <td>
                  <a href="{% url 'item_detail' stock.item.pk %}"
                     title="{{ stock.item.name }} details">{{ stock.item.product_id }}</a>
                </td>
              </tr>
              <tr>
                <td class="text-muted">Lot number:</td>
                <td>{{ stock.lot_number }}</td>
              </tr>
              <tr>
                <td class="text-muted">Expires on:</td>
                <td>{{ stock.expiry_date|date:"d/m/Y" }}</td>
              </tr>
              <tr>
                <td class="text-muted">Received:</td>
                <td>
                  <span class="pe-3">{{ stock.delivery_date|date:"d/m/Y" }}</span>
                  <span>{% delivery_condition stock.condition %}</span>
                </td>
              </tr>
              <tr>
                <td class="text-muted">Validation:</td>
                <td>
                  {% if stock.validations.all|length %}
                    {% for sv in stock.validations.all %}
                      {% validation_status sv.validation.status %}
                    {% endfor %}
                  {% else %}
                    {% validation_status "PENDING" %}
                  {% endif %}
                </td>
              </tr>
            </table>
          </div>
          <div class="col-lg-7">
            {# entries #}
            {% for entry in stock.entries.all %}
              <div class="row text-center align-items-center">
                <div class="col-2 col-lg-1">
                  <a href="#{{ entry.pk }}"
                     title="{{ stock.lot_number }}-{{ stock.pk }}-{{ entry.ordinal_number }}">
                    <span class="icon-with-text">
                      <i class="bi bi-box2-fill icon-with-text-icon {% if entry.remaining_quantity == 0 %}text-gray-300{% else %}{% stock_entry_colour entry.ordinal_number %}-text-color{% endif %}"></i>
                      <span class="icon-with-text-low">{{ entry.ordinal_number }}</span>
                    </span>
                  </a>
                </div>
                <div class="col-3 col-lg-2 small text-center">{{ entry.in_use_date|date:"d/m/Y"|default_if_none:"" }}</div>
                <div class="col-7 col-lg-3">
                  {% if entry.remaining_quantity == 0 %}
                    <del>0 {{ entry.remaining_unit }}</del>
                  {% else %}
                    {% include "usage/usage_htmx_updated.html" %}
                  {% endif %}
                </div>
                <div class="col-lg-2 small d-none d-lg-block">
                  <a href="{% url 'location_detail' entry.location.pk %}">{{ entry.location.name }}</a>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                  {% if entry.comments|length %}
                    <i class="bi bi-chat-left-dots"
                       data-bs-toggle="tooltip"
                       title="#{{ entry.ordinal_number }}: {{ entry.comments }}"></i>
                  {% endif %}
                </div>
                <div class="col-auto d-none d-lg-block">
                  <span class="tooltray-container d-none">
                    <a href="{% url 'stock_entry_update' entry.pk %}"
                       title="Edit {{ entry.ordinal_number }}"><i class="bi bi-pencil-square"></i></a>
                    <a hx-get="{% url 'stock_entry_delete' entry.pk %}"
                       hx-trigger="click"
                       hx-target="#crudModal .modal-content"
                       hx-swap="innerHTML"
                       data-bs-toggle="modal"
                       data-bs-target="#crudModal"
                       title="Delete {{ entry.ordinal_number }}"
                       href="javascript:"><i class="bi bi-trash"></i></a>
                  </span>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock panel_content %}
{% block offcanvas %}
  <div class="offcanvas offcanvas-start"
       tabindex="-1"
       id="offcanvasPrintSetting">
    <div class="offcanvas-body">
      <div id="offcanvas-form"></div>
    </div>
  </div>
{% endblock offcanvas %}
