{% extends "object_create_base.html" %}
{% block title %}
  Stock
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-box-seam-fill stock-text-color"></i> Commit to Stock
{% endblock panel_title %}
{% block create_form %}
  {{ form.as_p }}
  {{ entries.management_form }}
  {% for entry_form in entries.forms %}{{ entry_form.as_p }}{% endfor %}
{% endblock create_form %}
{% block js %}
  <script>
    //set up the search result listener for the item search box
    const searchConfigurations = [{
      searchBoxId: "item_search_box",
      textInputId: "id_item",
      resultsDivId: "itemSearchResults",
      resultClass: "item-search-result-item",
      valueAttribute: "item-pk"
    }];

    // Initialize each search box listener
    searchConfigurations.forEach(
      config => TypeSearchResultListenerConfig(config)
    );
  </script>
{% endblock js %}
