{% extends "object_form_base.html" %}
{% block panel_title_icon %}
  <i class="bi bi-box-seam-fill stock-text-color"></i>
{% endblock panel_title_icon %}
{% block object_form %}
  <div class="px-3 pt-3">
    <span class="text-danger">{{ form.non_field_errors }}</span>
    {# item search input #}
    <div id="item-input" class="type-search-input">{% include "item/partials/item_search_input.html" %}</div>
    {# inhouse reagent search input #}
    <div id="inhouse-input" class="type-search-input">{% include "inhouse/partials/inhouse_search_input.html" %}</div>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.lot_number.label_tag }}</span>
      {{ form.lot_number }}
    </div>
    <span class="text-danger">{{ form.lot_number.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.expiry_date.label_tag }}</span>
      {{ form.expiry_date }}
    </div>
    <span class="text-danger">{{ form.expiry_date.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.delivery_date.label_tag }}</span>
      {{ form.delivery_date }}
    </div>
    <span class="text-danger">{{ form.delivery_date.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.condition.label_tag }}</span>
      {{ form.condition }}
    </div>
    <span class="text-danger">{{ form.condition.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.comments.label_tag }}</span>
      {{ form.comments }}
    </div>
    <span class="text-danger">{{ form.comments.errors }}</span>
    <div class="mb-3">
      <h5>Stock items/storage Information</h5>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.quantity.label_tag }}</span>
      {{ form.quantity }}
    </div>
    <span class="text-danger">{{ form.quantity.errors }}</span>
    {{ entries.management_form }}
    {% with entry_form=entries.forms.0 %}
      {# location search input #}
      <div id="location-input" class="type-search-input">{% include "location/partials/location_search_input.html" %}</div>
    {% endwith %}
  </div>
{% endblock object_form %}
{% block js %}
  <script>
    //set up the search result listener for the item search box
    const searchConfigurations = [{
      searchBoxId: "item_search_box",
      textInputId: "id_item",
      resultsDivId: "itemSearchResults",
      resultClass: "item-search-result-item",
      valueAttribute: "item-pk"
    }, {
      searchBoxId: "inhouse_search_box",
      textInputId: "id_inhouse",
      resultsDivId: "inhouseSearchResults",
      resultClass: "inhouse-search-result-inhouse",
      valueAttribute: "inhouse-pk"
    }, {
      searchBoxId: "location_search_box",
      textInputId: "id_location",
      resultsDivId: "locationSearchResults",
      resultClass: "location-search-result-location",
      valueAttribute: "location-pk"
    }];

    // Initialize each search box listener
    searchConfigurations.forEach(
      config => TypeSearchResultListenerConfig(config)
    );
  </script>
{% endblock js %}
