{% extends "object_detail_base.html" %}
{% load stock_tags %}
{% block title %}
  Stock
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-box-seam-fill stock-text-color"></i> {{ stock.item.name }}
{% endblock panel_title %}
{% block panel_actions %}
  <span class="p-1">
    <a href="{% url 'stock_update' stock.pk %}?next={{ request.path }}"
       title="Update stock"
       class="btn btn-sm btn-success">
      <i class="bi bi-pencil-square"></i> Edit</a>
  </span>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="p-3">
    <div class="panel mb-4">
      <div class="panel-heading d-flex justify-content-between">
        <span class="fw-bold"><i class="bi bi-info-circle-fill stock-text-color"></i> Stock Details</span>
      </div>
      <div class="panel-content">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td width="20%" class="text-muted">Item:</td>
              <td width="30%">
                <a href="{% url 'item_detail' stock.item.pk %}">{{ stock.item.name }}</a>
              </td>
              <td width="20%"  class="text-muted">Stock Number:</td>
              <td width="30%">
                <span class="ms-3 badge rounded-pill bg-info">{{ stock.ordinal_number }}</span>
              </td>
            </tr>
            <tr>
              <td class="text-muted">Product ID:</td>
              <td>{{ stock.item.product_id }}</td>
              <td class="text-muted">Delivery Date:</td>
              <td>
               
              </td>
            </tr>
            <tr>
              <td class="text-muted">Lot Number:</td>
              <td>{{ stock.lot_number }}</td>
              <td class="text-muted">Expiry Date:</td>
              <td>{{ stock.expiry_date|date:"d/m/Y" }}</td>
            </tr>
            <tr>
              <td class="text-muted">Category:</td>
              <td>
                <a href="{% url 'category_detail' stock.item.category.pk %}">{{ stock.item.category.name }}</a>
              </td>
              <td class="text-muted">In-use Date:</td>
              <td>{{ stock.in_use_date|date:'d/m/Y' }}</td>
            </tr>
            <tr>
              <td class="text-muted">Location:</td>
              <td>
                <a href="{% url 'location_detail' stock.location.pk %}">{{ stock.location.name }}</a>
              </td>
              <td class="text-muted">Quantity Remain:</td>
              <td class="fw-bold">
                <div class="max-width-150px">{% include "usage/usage_htmx_updated.html" %}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel mb-4">
      <div class="panel-heading d-flex justify-content-between">
        <span class="fw-bold">
          <i class="bi bi-clipboard-check-fill validation-text-color"></i>
          Validations
        </span>
        <span class="text-success pe-2">
          <i class="bi bi-plus-circle"></i>
        </span>
      </div>
      <div class="panel-content">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th width="20%" class="text-muted">Status</th>
              <th width="13%" class="text-muted">Validated</th>
              <th width="13%" class="text-muted">Authorised</th>
              <th class="text-muted">Comments</th>
              <th width="10%" class="text-muted">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for sv in stock.validations.all %}
              <tr>
                <td>{% validation_status sv.validation.status True %}</td>
                <td class="small">
                  {{ sv.validation.validated|date:"d/m/Y" }}
                  <span data-bs-toggle="tooltip"
                        title="{{ sv.validation.validated_by.get_full_name }}">
                    {{ sv.validation.validated_by.initials }}
                  </span>
                </td>
                <td class="small">
                  {{ sv.validation.authorised|date:"d/m/Y" }}
                  <span data-bs-toggle="tooltip"
                        title="{{ sv.validation.authorised_by.get_full_name }}">
                    {{ sv.validation.authorised_by.initials }}
                  </span>
                </td>
                <td>{{ sv.validation.comments }}</td>
                <td>
                  <a href="" title="Edit the validation"><i class="bi bi-pencil-square"></i></a>
                  <a hx-get=""
                     hx-trigger="click"
                     hx-target="#crudModal .modal-content"
                     hx-swap="innerHTML"
                     data-bs-toggle="modal"
                     data-bs-target="#crudModal"
                     href="javascript:"><i class="bi bi-trash"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel mb-4">
      <div class="panel-heading d-flex justify-content-between">
        <span class="fw-bold"><i class="bi bi-boxes stock-text-color"></i> {{ stock.item.name }} - all stocks</span>
      </div>
      <div class="panel-content">Other stock of the same item list of them</div>
    </div>
  </div>
  {% include "partials/object_last_updated.html" %}
{% endblock panel_content %}
