{% extends "object_form_base.html" %}
{% block panel_title_icon %}
  <i class="bi bi-box-seam-fill stock-text-color"></i>
{% endblock panel_title_icon %}
{% block object_form %}
  <div class="px-3 pt-3">
    <span class="text-danger">{{ form.non_field_errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">Source:</span>
      <input type="text"
             class="form-control"
             disabled
             value="{{ stock.source.name }}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.lot_number.label_tag }}</span>
      {{ form.lot_number }}
    </div>
    <span class="text-danger">{{ form.lot_number.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.expiry_date.label_tag }}</span>
      {{ form.expiry_date }}
    </div>
    <span class="text-danger">{{ form.expiry_date.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.delivery_date.label_tag }}</span>
      {{ form.delivery_date }}
    </div>
    <span class="text-danger">{{ form.delivery_date.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.condition.label_tag }}</span>
      {{ form.condition }}
    </div>
    <span class="text-danger">{{ form.condition.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.comments.label_tag }}</span>
      {{ form.comments }}
    </div>
    <span class="text-danger">{{ form.comments.errors }}</span>
  </div>
{% endblock object_form %}
