{% extends "object_list_base.html" %}
{% load stock_tags %}
{% block title %}
  Stock
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-boxes stock-text-color"></i> All Stock Items
{% endblock panel_title %}
{% block panel_actions %}
  <a href="{% url 'stock_create' %}" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> New stock</a>
{% endblock panel_actions %}
{% block panel_content %}
  {% for stock in stocks %}
    <div class="panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-lg-4">
            <span class="h5 item-text-color">{{ stock.item.name }}</span>
            {% if stock.comments %}
              <i class="bi bi-chat-left-dots ps-2 text-danger"
                 title="Comments: {{ stock.comments }}"
                 data-bs-toggle="tooltip"></i>
            {% endif %}
          </div>
          {% if forloop.first %}
            <div class="col-lg-7 d-none d-lg-block">
              <div class="row text-center fw-bold text-muted small">
                <div class="col-1">Box</div>
                <div class="col-2">In use</div>
                <div class="col-3">Quantity</div>
                <div class="col-3">Comments</div>
                <div class="col-2">Location</div>
                <div class="col-1">Actions</div>
              </div>
            </div>
          {% endif %}
          <div class="col flex-grow-1">
            <span class="float-end">
              <i class="bi bi-pencil-square"></i> <i class="bi bi-trash"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="panel-content">
        <div class="row align-items-center">
          <div class="col-lg-4 ps-4 small">
            {# stock properties #}
            <span class="text-muted">Lot number:</span>
            {{ stock.lot_number }}
            <br>
            <span class="text-muted">Expires on:</span>
            {{ stock.expiry_date|date:"d/m/Y" }}
            <br>
            <span class="text-muted">Received:</span>
            {{ stock.delivery_date|date:"d/m/Y" }} {% delivery_condition stock.condition %}
            <br>
          </div>
          <div class="col-lg-7">
            {# entries #}
            {% for entry in stock.entries.all %}
              <div class="row text-center">
                <div class="col-1">
                  <a href=""
                     title="More Details: Box #{{ entry.ordinal_number }}"
                     data-bs-toggle="tooltip">
                    <span class="icon-with-text">
                      <i class="bi bi-box2-fill icon-with-text-icon {% cycle 'delivery' 'stock' 'green20' 'location' 'setting' %}-text-color"></i>
                      <i class="icon-with-text-text">{{ entry.ordinal_number }}</i>
                    </span>
                  </a>
                </div>
                <div class="col-2 text-center">{{ entry.in_use_date|date:"d/m/Y"|default_if_none:"" }}</div>
                <div class="col-3">{{ entry.remaining_quantity_display }}</div>
                <div class="col-3">
                  {% if entry.comments|length %}
                    <i class="bi bi-chat-square-dots"
                       data-bs-toggle="tooltip"
                       title="{{ entry.comments }}"></i>
                  {% endif %}
                </div>
                <div class="col-2">{{ entry.location.name }}</div>
                <div class="col-1">
                  <i class="bi bi-pencil-square"></i> <i class="bi bi-trash"></i>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock panel_content %}
