{% extends "object_list_base.html" %}
{% block title %}
  Deliveries
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-boxes delivery-text-color"></i> All Deliveries
{% endblock panel_title %}
{% block panel_actions %}
  <a href="{% url 'delivery_create' %}" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> New delivery</a>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th width="10%" class="d-lg-table-cell">Delivery Date</th>
          <th width="10%" class="d-lg-table-cell">Received By</th>
          <th width="25%" class="d-lg-table-cell">Notes</th>
          <th width="50%" class="d-none d-lg-table-cell">Items</th>
          <th width="5%" class="d-lg-table-cell">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for delivery in deliveries %}
          <tr>
            <td class="d-lg-table-cell align-middle">
              <a href="{% url 'delivery_detail' delivery.pk %}"
                 title="Delivery details">{{ delivery.delivery_date|date:"d/m/Y H:i" }}</a>
            </td>
            <td class="d-lg-table-cell">{{ delivery.received_by.first_name }}</td>
            <td class="d-lg-table-cell small">{{ delivery.notes }}</td>
            <td class="d-none d-lg-table-cell">
              {% for stock in delivery.stocks_aggregated %}
                <a href="{% url 'item_detail' stock.item__id %}">{{ stock.item__name }}</a>
                {% if stock.count > 1 %}
                  <span class="text-muted small">x</span>
                  <span class="stock-text-color fw-bold">{{ stock.count }}</span>
                {% endif %}{% if not forloop.last %},{% endif %}
              {% endfor %}
            </td>
            <td class="d-lg-table-cell">
              <a href="{% url 'delivery_update' delivery.pk %}"><i class="bi bi-pencil-square"></i></a>
              <a hx-get="{% url 'delivery_delete' delivery.pk %}"
                 hx-trigger="click"
                 hx-target="#crudModal .modal-content"
                 hx-swap="innerHTML"
                 data-bs-toggle="modal"
                 data-bs-target="#crudModal"
                 href="javascript:"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock panel_content %}
