{% extends "object_update_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Delivery
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-cart-fill delivery-text-color"></i> Delivery Update
{% endblock panel_title %}
{% block update_form %}
  <div class="pt-3 px-3">
    {{ form.errors }}
    <div id="div_id_delivery_date" class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">Delivery Date*:</span>
      <input type="datetime-local"
             name="delivery_date"
             value="{{ form.delivery_date.value|date:'Y-m-d H:i:s' }}"
             class="dateinput form-control"
             required
             id="id_delivery_date">
    </div>
    <div id="div_id_received_by" class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">Received By*:</span>
      <select name="received_by"
              class="select form-select"
              value="{{ form.received_by.value|default_if_none:'' }}"
              required
              id="id_received_by">
        {% for user in form.fields.received_by.queryset %}
          <option value="{{ user.pk }}"
                  {% if user.pk == form.received_by.value %}selected{% endif %}>{{ user }}</option>
        {% endfor %}
      </select>
    </div>
    <div id="div_id_notes"  class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">Notes:</span>
      <textarea name="notes" cols="40" rows="3" class="textarea form-control" id="id_notes">{{ form.notes.value|default_if_none:'' }}
</textarea>
    </div>
  </div>
{% endblock update_form %}
