<form method="post" action="{% url 'delivery_delete' delivery.pk %}">
  <div class="modal-header">
    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {% csrf_token %}
    <p>
      Delete this delivery? <small class="text-muted">(received {{ delivery.delivery_date|date:"d/m/y H:i" }} by {{ delivery.received_by.first_name }})</small>
    </p>
    <p>
      <i class="text-danger">All associated stock items will be deleted!</i>
    </p>
    <input type="hidden" name="delivery_id" value="{{ delivery.pk }}">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete</button>
  </div>
</form>
