{% extends "object_detail_base.html" %}
{% block title %}
  Delivery
{% endblock title %}
{% block panel_title %}
  Delivery Detail
{% endblock panel_title %}
{% block panel_actions %}
  <span class="p-1">
    <a href="{% url 'delivery_update' delivery.pk %}?next={{ request.path }}"
       title="Update delivery"
       class="btn btn-sm btn-success">
      <i class="bi bi-pencil-square"></i> Edit</a>
  </span>
{% endblock panel_actions %}
{% block panel_content %}
  {% for stock in delivery.stockitems.all %}<p>{{ stock }}</p>{% endfor %}
{% endblock panel_content %}
