<form method="post" action="{% url 'delivery_delete' object.pk %}">
  <div class="modal-header">
    <h5 class="modal-title" id="crudModalLabel">Confirm Deletion</h5>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {% csrf_token %}
    <p>
      Delete this delivery? <small class="text-muted">(received {{ object.delivery_date|date:"d/m/y H:i" }} by {{ object.received_by.first_name }})</small>
    </p>
    <p>
      <i class="text-danger">All associated stocks will be deleted!</i>
    </p>
    <input type="hidden" name="delivery_id" value="{{ object.pk }}">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete</button>
  </div>
</form>
