{% extends "object_list_base.html" %}
{% block title %}
  Deliveries
{% endblock title %}
{% block panel_title %}
<i class="bi bi-boxes" style="color: var(--bs-green);"></i> All Deliveries
{% endblock panel_title %}
{% block panel_actions %}
  <a href="{% url 'delivery_create' %}" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> New delivery</a>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th width="10%" class="d-lg-table-cell">Delivery Date</th>
          <th width="10%" class="d-lg-table-cell">Received By</th>
          <th width="25%" class="d-lg-table-cell">Notes</th>
          <th width="50%" class="d-none d-lg-table-cell">Items</th>
          <th width="5%" class="d-lg-table-cell">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for delivery in deliveries %}
          <tr>
            <td class="d-lg-table-cell align-middle">
              <a href="{% url 'delivery_detail' delivery.pk %}"
                 title="Delivery details">{{ delivery.delivery_date|date:"d/m/Y H:i" }}</a>
            </td>
            <td class="d-lg-table-cell">{{ delivery.received_by.first_name }}</td>
            <td class="d-lg-table-cell small">{{ delivery.notes }}</td>
            <td class="d-none d-lg-table-cell small">
              {% comment %} {% if delivery.within_one_week %}
                <a class="btn btn-sm"
                   href="{% url 'stock_create' %}?delivery={{ delivery.pk }}&next={{ request.path }}"
                   title="Add stocks">
                  <i class="bi bi-plus-circle-dotted text-success"></i></a>
              {% endif %} {% endcomment %}
              <div class="row ps-2">
              {% for stock in delivery.stocks.all|slice:10 %}
              <div class="col-4">
                <i class="bi bi-box-seam"></i> {{ stock.item.name }}
              </div>
              {% endfor %}
              <div class="col-12">
                {% if delivery.stocks.count > 10 %}more ...{% endif %}
              </div>
              </div>
            </td>
            <td class="d-lg-table-cell">
              <a href="{% url 'delivery_update' delivery.pk %}"><i class="bi bi-pencil-square"></i></a>
              <a hx-get="{% url 'delivery_delete' delivery.pk %}"
                 hx-trigger="click"
                 hx-target="#crudModal .modal-content"
                 hx-swap="innerHTML"
                 data-bs-toggle="modal"
                 data-bs-target="#crudModal"
                 href="javascript:void(0);"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock panel_content %}
