{% extends "object_create_base.html" %}
{% block title %}
  Delivery Create
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-cart-fill delivery-text-color"></i> New Delivery
{% endblock panel_title %}
{% block create_form %}
  <div class="pt-3 px-3">
    <div id="div_id_delivery_date" class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.delivery_date.label_tag }}</span>
      {{ form.delivery_date }}
    </div>
    <span class="text-danger">{{ form.delivery_date.errors }}</span>
    <div id="div_id_notes"  class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.notes.label_tag }}</span>
      {{ form.notes }}
    </div>
    <span class="text-danger">{{ form.notes.errors }}</span>
  </div>
{% endblock create_form %}
