{% extends "object_detail_base.html" %}
{% block title %}
  Delivery
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-cart-fill delivery-text-color"></i> Delivery detail
{% endblock panel_title %}
{% block panel_actions %}
  <span class="p-1">
    <a href="{% url 'delivery_update' delivery.pk %}?next={{ request.path }}"
       title="Update delivery"
       class="btn btn-sm btn-success">
      <i class="bi bi-pencil-square"></i> Edit</a>
  </span>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="p-3">
    <div class="panel">
      <div class="panel-heading">
        <span class="fw-bold"><i class="bi bi-info-circle delivery-text-color"></i> Delivery info</span>
      </div>
      <div class="panel-content">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td width="12%" class="text-muted">Delivery date:</td>
              <td>{{ delivery.delivery_date|date:"d/m/Y H:i" }}</td>
            </tr>
            <tr>
              <td class="text-muted">Received by:</td>
              <td>{{ delivery.received_by.get_full_name }}</td>
            </tr>
            <tr>
              <td class="text-muted">Notes:</td>
              <td>{{ delivery.notes }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <span class="fw-bold"><i class="bi bi-boxes item-text-color"></i> Items Received</span>
      </div>
      <div class="panel-content">
        {% for item, stock in stocks.items %}
          <div class="callout callout-item py-2">
            <div class="row">
              <div class="col-4">
                <span><a href="{% url 'item_detail' item.pk %}">{{ item.name }}</a></span>
                <span class="small text-muted">({{ item.product_id }})</span>:
              </div>
              <div class="col-auto">
                {% for stock_item in stock %}
                  <a href="{% url 'stock_detail' stock_item.pk %}"
                     data-bs-toggle="tooltip"
                     title="box #{{ stock_item.ordinal_number }}">
                    <span class="badge bg-info mx-2">{{ stock_item.ordinal_number }}</span>
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading d-flex justify-content-between align-items-center pe-2">
        <span class="fw-bold"><i class="bi bi-folder2-open text-warning"></i> Documents</span>
        <a hx-get="{% url 'delivery_attachment_upload' delivery.pk %}"
           hx-trigger="click"
           hx-target="#crudModal .modal-content"
           hx-swap="innerHTML"
           data-bs-toggle="modal"
           data-bs-target="#crudModal"
           href="javascript:"
           class="btn btn-sm btn-success"><i class="bi bi-file-earmark-arrow-up"></i> Upload</a>
      </div>
      <div class="panel-content">
        {% if attachments|length %}
          <table class="table table-sm table-hover">
            <thead class="text-small">
              <tr>
                <th class="text-muted d-none d-lg-block">Uploaded</th>
                <th class="text-muted">Name</th>
                <th class="text-muted">File Name</th>
                <th class="text-muted d-none d-lg-block">Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for file in attachments %}
                <tr>
                  <td class="d-none d-lg-block">
                    <small title="{{ file.uploaded_at|date:'d/m/Y H:i:s' }}">{{ file.uploaded_at|date:'d/m/Y' }}</small>
                  </td>
                  <td>{{ file.name }}</td>
                  <td>
                    {% if file.filetype %}
                      <i class="bi bi-filetype-{{ file.filetype }} text-warning"></i>
                    {% else %}
                      <i class="bi bi-file-earmark text-warning"></i>
                    {% endif %}
                    <a href="{{ file.file.url }}" title="Open/download {{ file.filename }}">{{ file.filename }}</a>
                  </td>
                  <td class="d-none d-lg-block">
                    <span class="small">{{ file.description|default:"&nbsp;" }}</span>
                  </td>
                  <td>
                    <a hx-get="{% url 'delivery_attachment_update' file.id %}"
                       hx-trigger="click"
                       hx-target="#crudModal .modal-content"
                       hx-swap="innerHTML"
                       data-bs-toggle="modal"
                       data-bs-target="#crudModal"
                       href="javascript:"><i class="bi bi-pencil-square"></i></a>
                    <a hx-get="{% url 'delivery_attachment_delete' file.id %}"
                       hx-trigger="click"
                       hx-target="#crudModal .modal-content"
                       hx-swap="innerHTML"
                       data-bs-toggle="modal"
                       data-bs-target="#crudModal"
                       href="javascript:"><i class="bi bi-trash"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </div>
  {% include "partials/object_last_updated.html" %}
{% endblock panel_content %}
{% block modals %}
  <div class="modal fade"
       id="crudModal"
       tabindex="-1"
       aria-labelledby="crudModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- HTMX rendered content -->
      </div>
    </div>
  </div>
{% endblock modals %}
