{% extends "base.html" %}
{% block css %}
  <style>
  .panel-frontpage {
    min-height: 280px;
  }
  </style>
{% endblock css %}
{% block title %}
  Home
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">{% include "homepage/notifications.html" %}</div>
      <div class="col-lg-6">{% include "homepage/watchlist.html" %}</div>
      <div class="col-lg-6">{% include "homepage/statistics.html" %}</div>
      <div class="col-lg-6">{% include "homepage/deliveries.html" %}</div>
    </div>
  </div>
{% endblock content %}