{% extends "base.html" %}
{% block css %}
  <style>
  .panel-frontpage {
    min-height: 280px;
  }
  </style>
{% endblock css %}
{% block title %}
  Home
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">{% include "homepage/notifications.html" %}</div>
      <div class="col">{% include "homepage/stock_levels.html" %}</div>
    </div>
    <div class="row">
      <div class="col">{% include "homepage/statistics.html" %}</div>
      <div class="col">{% include "homepage/deliveries.html" %}</div>
    </div>
  </div>
  <div class="container-fluid">
    <a href="{% url 'usage_create' pk=1 %}" class="btn btn-primary">Create Usage</a>
  </div>
{% endblock content %}
