<ul class="navbar-nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       id="stockDropdown"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false"><i class="bi bi-truck text-danger"></i> Delivery</a>
    <ul class="dropdown-menu" aria-labelledby="userDropdown">
      <li>
        <a href="{% url 'delivery_create' %}" class="dropdown-item"><i class="bi bi-cart3 text-success"></i> New Deilvery</a>
      </li>
      <li>
        <a href="{% url 'delivery_list' %}" class="dropdown-item"><i class="bi bi-cart4 text-secondary"></i> Delivery List</a>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       id="stockDropdown"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false"><i class="bi bi-inboxes-fill text-success"></i> Stock</a>
    <ul class="dropdown-menu" aria-labelledby="userDropdown">
      <li>
        <a href="{% url 'stock_create' %}" class="dropdown-item"><i class="bi bi-inbox-fill text-success"></i> New Stock</a>
      </li>
      <li>
        <a href="{% url 'stock_list' %}" class="dropdown-item"><i class="bi bi-boxes text-secondary"></i> Stock List</a>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       id="itemDropdown"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false"><i class="bi bi-box2-fill text-primary"></i> Item</a>
    <ul class="dropdown-menu" aria-labelledby="userDropdown">
      <li>
        <a href="{% url 'item_create' %}" class="dropdown-item"><i class="bi bi-box-seam text-primary"></i> New Item</a>
      </li>
      <li>
        <a href="{% url 'item_list' %}" class="dropdown-item"><i class="bi bi-box2 text-warning"></i> Item List</a>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       id="stockDropdown"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false"><i class="bi bi-database-gear text-info"></i> Settings</a>
    <ul class="dropdown-menu" aria-labelledby="userDropdown">
      <li>
        <a href="{% url 'company_list' %}" class="dropdown-item"><i class="bi bi-buildings text-danger"></i> Companies</a>
      </li>
      <li>
        <a href="{% url 'category_list' %}" class="dropdown-item"><i class="bi bi-tags text-secondary"></i> Categories</a>
      </li>
      <li>
        <a href="{% url 'location_list' %}" class="dropdown-item"><i class="bi bi-crosshair text-primary"></i> Locations</a>
      </li>
    </ul>
  </li>
</ul>
