{% extends "base.html" %}
{% block title %}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="panel">
      <div class="panel-heading d-flex justify-content-between">
        {% block panel_heading %}
          <h4 class="panel-title">
            {% block panel_title %}
            {% endblock panel_title %}
          </h4>
          {% block panel_actions %}
          {% endblock panel_actions %}
        {% endblock panel_heading %}
      </div>
      <div class="panel-content">
        {% block panel_content %}
        {% endblock panel_content %}
      </div>
    </div>
    {% block modals %}
    {% endblock modals %}
  </div>
{% endblock content %}
