{% extends "base.html" %}
{% block title %}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="panel">
      <div class="panel-heading">
        <div class="row">
          {% block panel_heading %}
            <div class="col-12 col-sm-auto">
              <span class="panel-title fs-6 fs-sm-5">
                {% block panel_title %}
                {% endblock panel_title %}
              </span>
            </div>
            <div class="col-12 col-sm text-sm-end">
              {% block panel_actions %}
              {% endblock panel_actions %}
            </div>
          {% endblock panel_heading %}
        </div>
    </div>
    
      <div class="panel-content">
        {% block panel_content %}
        {% endblock panel_content %}
      </div>
    </div>
  </div>
  {% block modals %}
    <div class="modal fade"
         id="crudModal"
         tabindex="-1"
         aria-labelledby="crudModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- HTMX rendered content -->
        </div>
      </div>
    </div>
  {% endblock modals %}
{% endblock content %}
