{% extends "base.html" %}
{% block title %}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          {% block panel_title %}
          {% endblock panel_title %}
        </h4>
      </div>
      <div class="panel-content">
        {% block panel_content %}
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% block update_form %}
            {% endblock update_form %}
            <div class="text-end">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
        {% endblock panel_content %}
      </div>
    </div>
  </div>
{% endblock content %}
