{% extends "base.html" %}
{% load static %}
{% block title %}
  User Guide
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="text-center">
      <h3 class="py-3" id="userguide-top">User Guide</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="pt-3" id="reagentree-intro">1. Introduction</h4>
        <p>
          ReagenTree is a web application designed to manage laboratory reagents and stocks and keeps track of the reagent inventory, alerting the users when stocks are running low.
          ReagenTree is webbrowser and operation system angnostic and mobile-friendly, meaning it can be accessed from any device with a web browser including mobile devices.
          ReagenTree is powered by <i>Django</i>, <i>JavaScript</i>, and <i>Bootstrap</i>, the entire code base is open source and can be found on <a href="https://github.com/machnine/ReagenTree" class="fw-bold">GitHub</a>.
          <a href="#userguide-top" title="Back to top" data-bs-toggle="tooltip"><sup><i class="bi bi-chevron-bar-up"></i></sup></a>
        </p>
        <h4 class="pt-3" id="user-account">2. User Account</h4>
        <h5 id="user-registration">2.1. Registration</h5>
        <p>
          An account is required to use ReagenTree. To register an account, click on the <a href="{% url 'register' %}" class="fw-bold">register link</a> on the login page and fill in the registration form.
          The registration form requires you to provide your email address, first name, last name, and password.
          Follow the instructions on the registration form to complete the registration process.
          Please note, only an OUH email address is accepted. A new user account requires approval from an administrator user.
          <a href="#userguide-top" title="Back to top" data-bs-toggle="tooltip"><sup><i class="bi bi-chevron-bar-up"></i></sup></a>
        </p>
        <p class="text-center">
          <img src="{% static 'images/userguide/user-registration-form.png' %}"
               alt="user registration form"
               width="395"
               height="253"
               class="border" />
        </p>
        <h5 class="pt-4" id="user-login">2.2. Login</h5>
        <p>
          To login to ReagenTree, click on the <a href="{% url 'login' %}" class="fw-bold">login link</a> on the home page and enter your email address and password.
          If you have forgotten your password, contact the administrator users to reset your password.
          <a href="#userguide-top" title="Back to top" data-bs-toggle="tooltip"><sup><i class="bi bi-chevron-bar-up"></i></sup></a>
        </p>
        <h5 id="user-logout">2.3. Logout</h5>
        <p>
          User sessions automatically after 15 minutes of inactivity.
          Any further actions after your session expired will redirect your to the Login page for re-authentication.
          To logout manually, click on the <b>Logout</b> link under the user menu.
          <a href="#userguide-top" title="Back to top" data-bs-toggle="tooltip"><sup><i class="bi bi-chevron-bar-up"></i></sup></a>
        </p>
        <h5 id="account-previleges">2.4. Account previleges</h5>
        <p>
          There are two types of users in ReagenTree: <b>regular users</b> and <b>administrators</b>.
          If you find that you cannot perform certain actions, contact the administrator users to grant you the necessary permissions.
          <a href="#userguide-top" title="Back to top" data-bs-toggle="tooltip"><sup><i class="bi bi-chevron-bar-up"></i></sup></a>
        </p>
        <h4 class="pt-3" id="model-concept">3. Data Models</h4>
        <h5 id="item-model">
          3.1. Item
        </h5>
        <p>
          In <i>Reagentree</i>, an <i class="fw-bold item-text-color">item</i> is a generic term used to refer to a reagent which can be procured from a supplier.
          Think of an <i class="fw-bold item-text-color">item</i> as a dish listed on a restaurant menu,
          not as the actual dish served to you, which would be considered as a <i class="stock-text-color fw-bold">stock</i>.
          <a href="#userguide-top" title="Back to top" data-bs-toggle="tooltip"><sup><i class="bi bi-chevron-bar-up"></i></sup></a>
        </p>
        <h5 id="reagent-model">
          3.2. Reagent (in-house)
        </h5>
        <p>
          For lack of a better term, <i>Reagentree</i> uses <i class="fw-bold inhouse-text-color">reagent</i> to refer to a reagent that is produced in-house.
          In terms of the data model, a <i class="fw-bold inhouse-text-color">reagent</i> behaves the same as an <i class="fw-bold item-text-color">item</i> -
          it is also like a dish on a menu, not the dish served, which would be considered <i class="stock-text-color fw-bold">stock</i>.
          Therefore, a new <i class="fw-bold inhouse-text-color">reagent</i> cannot be created directly from <i class="fw-bold item-text-color">items</i> or other <i class="fw-bold inhouse-text-color">reagents</i>.
          A <i class="fw-bold inhouse-text-color">reagent</i> must be created from one or more <i class="fw-bold stock-text-color">stock</i> items.
          <a href="#userguide-top" title="Back to top" data-bs-toggle="tooltip"><sup><i class="bi bi-chevron-bar-up"></i></sup></a>
        </p>
        <h5 id="stock-model">
          3.3. Stock
        </h5>
        <p>
          In Reagentree, <i class="stock-text-color fw-bold">stock</i> refers to the actual physical inventory of a reagent.
          While an <i class="fw-bold item-text-color">item</i> or <i class="fw-bold inhouse-text-color">reagent</i> is like a dish listed on a restaurant menu, <i class="stock-text-color fw-bold">stock</i> is the actual dish served to you.
          <i class="stock-text-color fw-bold">Stock</i> represents the tangible, on-hand quantity of reagents, whether procured from a supplier or produced in-house.
          It tracks the availability and usage of reagents, ensuring that the necessary quantities are maintained for operational needs.
          <a href="#userguide-top" title="Back to top" data-bs-toggle="tooltip"><sup><i class="bi bi-chevron-bar-up"></i></sup></a>
        </p>
        <h4 class="pt-3" id="settings">4. Settings</h4>
        <h5 id="company-setting">
          4.1. Companies
        </h5>
        <p>
          A <i class="company-text-color fw-bold">company</i> refers to an entity involved in the manufacturing or supply of reagents. A company can function as either a <i>manufacturer</i>, a <i>supplier</i>, or both.
          <a href="#userguide-top" title="Back to top" data-bs-toggle="tooltip"><sup><i class="bi bi-chevron-bar-up"></i></sup></a>
        </p>
        <h5 id="category-setting">
          4.2. Categories
        </h5>
        <p>
          In Reagentree, <i class="category-text-color fw-bold">categories</i> are used to classify items and reagents.
          Each <i class="category-text-color fw-bold">category</i> has a searchable name and a description, helping in the efficient sorting and retrieval of information.
          <a href="#userguide-top" title="Back to top" data-bs-toggle="tooltip"><sup><i class="bi bi-chevron-bar-up"></i></sup></a>
        </p>
        <h5 id="location-setting">
          4.3. Locations
        </h5>
        <p>
          <i class="location-text-color fw-bold">Locations</i> are places where <i class="fw-bold stock-text-color">stocks</i> are stored.
          Each <i class="location-text-color fw-bold">location</i> has a searchable name and a description.
          <i class="location-text-color fw-bold">Locations</i> help in tracking and managing the physical storage of <i class="fw-bold stock-text-color">stock</i> items,
          <a href="#userguide-top" title="Back to top" data-bs-toggle="tooltip"><sup><i class="bi bi-chevron-bar-up"></i></sup></a>
        </p>
        <h5 id="userprofile-setting">4.4. User profile settings</h5>
        <p>
          User profile information such as first name, last name, and email address can be updated by clicking on the <a href="{% url 'user_profile' %}" class="text-success"><i class="bi bi-person-square"></i> Profile</a> option under the user menu.
          <a href="#userguide-top" title="Back to top" data-bs-toggle="tooltip"><sup><i class="bi bi-chevron-bar-up"></i></sup></a>
        </p>
        <h4 class="pt-3" id="how-to">5. How to</h4>
        <h5>5.1. Add a new supplier or manufacturer company</h5>
        <p>
          To add a new company, click on the <a href="{% url 'company_create' %}" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> New Company</a> button on the company page and fill in the company form.
          The company form requires you to provide the company name and website.
          Follow the instructions on the company form to complete the company creation process.
          <a href="#userguide-top" title="Back to top" data-bs-toggle="tooltip"><sup><i class="bi bi-chevron-bar-up"></i></sup></a>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
