{% extends "object_detail_base.html" %}
{% load ui_tags %}
{% block panel_title %}
  <i class="bi bi-box-fill inhouse-text-color"></i> {{ object.name }}
{% endblock panel_title %}
{% block panel_content %}
  <div class="p-3">
    <div class="panel mb-4">
      <div class="panel-heading d-flex justify-content-between align-items-center">
        <span class="fw-bold"><i class="bi bi-info-circle-fill inhouse-text-color"></i> Reagent Details</span>
        <span>
          <a href="{% url 'inhouse_update' object.pk %}?next={{ request.path }}"
             title="Update inhouse"
             class="btn btn-sm btn-success">
            <i class="bi bi-pencil-square"></i>
            <span class="d-none d-sm-inline">Edit</span>
          </a>
        </span>
      </div>
      <div class="panel-content px-3 small">
        <div class="row mb-1">
          <div class="col-6 col-sm-3 text-muted">Product ID:</div>
          <div class="col-6 col-sm-3">{{ object.product_id }}</div>
          <div class="col-6 col-sm-3 text-muted">Lot number:</div>
          <div class="col-6 col-sm-3">{{ object.lot_number }}</div>
        </div>
        <div class="row mb-1">
          <div class="col-6 col-sm-3 text-muted">Quantity:</div>
          <div class="col-6 col-sm-3">{{ object.quantity_display }}</div>
          <div class="col-6 col-sm-3 text-muted">Created date:</div>
          <div class="col-6 col-sm-3">
            <span title="{{ object.created }}">{{ object.created|date:"d/m/Y" }} {{ object.created_by.initials }}</span>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-6 col-sm-3 text-muted">Category:</div>
          <div class="col-6 col-sm-3">
            <a href="{{ object.category.get_absolute_url }}"
               title="{{ object.category }}">{{ object.category }}</a>
          </div>
          <div class="col-6 col-sm-3 text-muted">Expiry date:</div>
          <div class="col-6 col-sm-3">{{ object.expiry_date|date:"d/m/Y" }}</div>
        </div>
        <div class="row mb-1">
          <div class="col-12 col-sm-3 text-muted">Description:</div>
          <div class="col-12 col-sm-9">{{ object.description }}</div>
        </div>
      </div>
    </div>
    <div class="panel mb-4">
      <div class="panel-heading d-flex justify-content-between align-items-center">
        <span class="fw-bold"><i class="bi bi-menu-button-wide-fill text-danger"></i> Reagent Components</span>
        <span>
          <a data-bs-toggle="offcanvas"
             href="#endOffcanvas"
             title="Add components"
             hx-get="{% url 'component_create' object.pk %}"
             hx-target="#endOffcanvas"
             hx-swap="innerHTML"
             class="btn btn-sm btn-success">
            <i class="bi bi-plus-circle"></i>
            <span class="d-none d-sm-inline">Add</span></a>
        </span>
      </div>
      <div class="panel-content px-3 small">
        <!-- Headings for larger screens -->
        <div class="row d-none d-lg-flex g-2 mb-2">
          <div class="col text-muted fw-bold">Stock Item</div>
          <div class="col text-muted fw-bold">Lot Number</div>
          <div class="col text-muted fw-bold">Quantity</div>
          <div class="col text-muted fw-bold">Description</div>
          <div class="col-1 text-center">{% toggle_icon 'tooltray-trigger' 'tooltray-container' %}</div>
        </div>
        {% for c in reagent_components %}
          <div class="row g-2 mb-2 align-items-center">
            <div class="col">
              <a href="{{ c.stock.source_url }}" title="Component Info">{{ c.stock.source.name }}</a>
            </div>
            <div class="col">
              <a href="{{ c.stock.get_absolute_url }}" title="Component Stock Info">{{ c.stock.lot_number }}</a>
            </div>
            <div class="col">{{ c.quantity_display }}</div>
            <div class="col">{{ c.stock.source.description }}</div>
            <div class="col-1 text-center">
              <span class="tooltray-container d-none">
                <a href="{% url 'component_update' c.pk %}?next={{ request.path }}"
                   title="Update components">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a hx-get="{% url 'component_delete' c.pk %}"
                   hx-trigger="click"
                   hx-target="#crudModal .modal-content"
                   hx-swap="innerHTML"
                   data-bs-toggle="modal"
                   data-bs-target="#crudModal"
                   title="Delete component"
                   href="javascript:"><i class="bi bi-trash"></i></a>
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% include "partials/object_last_updated.html" %}
{% endblock panel_content %}
{% block js %}
  <script>
    //set up the search result listener for the item search box
    const searchConfigurations = [{
      searchBoxId: "stock_search_box",
      textInputId: "id_stock",
      resultsDivId: "stockSearchResults",
      resultClass: "stock-search-result-stock",
      valueAttribute: "stock-pk"
    }];

    // Initialize each search box listener
    searchConfigurations.forEach(
      config => TypeSearchResultListenerConfig(config)
    );
  </script>
{% endblock js %}
