{% extends "object_create_base.html" %}
{% block title %}
  In-house Reagent
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-box-fill inhouse-text-color"></i> New Reagent
{% endblock panel_title %}
{% block create_form %}
  <div class="px-3 pt-3">
    <span class="text-danger small">{{ form.non_field_errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.name.label_tag }}</span>
      {{ form.name }}
    </div>
    <span class="text-danger small">{{ form.name.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.product_id.label_tag }}</span>
      {{ form.product_id }}
    </div>
    <span class="text-danger small">{{ form.product_id.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.lot_number.label_tag }}</span>
      {{ form.lot_number }}
    </div>
    <span class="text-danger small">{{ form.lot_number.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.expiry_date.label_tag }}</span>
      {{ form.expiry_date }}
    </div>
    {# quantity #}
    <div class="row">
      <div class="col-12 col-lg-9">
        <div class="input-group mb-3">
          <span class="input-group-text input-group-text-fw-sm">{{ form.quantity.label_tag }}</span>
          {{ form.quantity }}
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="input-group mb-3">
          <span class="input-group-text input-group-text-fw-sm">{{ form.quantity_unit.label_tag }}</span>
          {{ form.quantity_unit }}
        </div>
      </div>
    </div>
    {# category type search input #}
    <div id="category-input" class="type-search-input">{% include "category/partials/category_search_input.html" %}</div>
    <span class="text-danger small">{{ form.category.errors }}</span>
    <div class="input-group mb-3">
      <span class="input-group-text input-group-text-fw-sm">{{ form.description.label_tag }}</span>
      {{ form.description }}
    </div>
    <span class="text-danger small">{{ form.description.errors }}</span>
  </div>
{% endblock create_form %}
{% block js %}
  <script>
  // Array of configurations for each search box
  const searchConfigurations = [
  {
      searchBoxId: "category_search_box",
      textInputId: "id_category",
      resultsDivId: "categorySearchResults",
      resultClass: "category-search-result-category",
      valueAttribute: "category-pk"
  }
  ];

  // Initialize each search box listener
  searchConfigurations.forEach(
    config => TypeSearchResultListenerConfig(config)
  );
  </script>
{% endblock js %}
