{% extends "object_list_base.html" %}
{% block title %}
  In-house Reagents
{% endblock title %}
{% block panel_title %}
  <i class="bi bi-box inhouse-text-color"></i> In-house Reagents
{% endblock panel_title %}
{% block panel_actions %}
  <a href="{% url 'inhouse_create' %}" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> New Reagent</a>
{% endblock panel_actions %}
{% block panel_content %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Product ID</th>
          <th width="40%">Components</th>
          <th class="d-none d-lg-table-cell">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for reagent in inhouse_reagents %}
          <tr>
            <td>
              <a href="{% url 'inhouse_detail' reagent.pk %}">{{ reagent.name }}</a>
            </td>
            <td>{{ reagent.product_id }}</td>
            <td>
              {% for comp in reagent.components.all %}
                {{ comp.item.name }}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            </td>
            <td>
              <a href="{% url 'inhouse_update' reagent.pk %}"><i class="bi bi-pencil-square"></i></a>
              <a hx-get="{% url 'inhouse_delete' reagent.pk %}"
                 hx-trigger="click"
                 hx-target="#crudModal .modal-content"
                 hx-swap="innerHTML"
                 data-bs-toggle="modal"
                 data-bs-target="#crudModal"
                 href="javascript:void(0);"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock panel_content %}
